[2022-03-07 11:22] pkej opened #3 "Authorization with Bearer token"
Urql has an easy way to add bearer tokens. I wonder if you're going to add to the project?

[2022-03-07 12:02] pkej opened #4 "Missing "addAutoImport" export in nuxt/kit"
After following the readme I weren't able to start nuxt:

[code]

My nuxt-installation is based on this template:

[antfu/vitesse-nuxt3](https://github.com/antfu/vitesse-nuxt3)

[2022-03-07 12:49] Diizzayy commented on #3
Certainly, you can expect `authentication helpers` to be added in the next release (I'm already working on it).

[2022-03-07 13:50] Diizzayy commented on #4
@pkej I was unable to reproduce this issue using the same template.

I created [this repo](https://github.com/Diizzayy/vitesse-nuxt3) with `vitesse-nuxt3` so you can have a look.

[2022-03-07 13:50] #4 closed

[2022-03-07 14:01] Diizzayy opened #5 "Nuxt Bridge Support"
Allow this module to be used with `nuxt-bridge` by providing a plugin.

[2022-03-07 19:39] Diizzayy opened #6 "Nuxt crashes on code generation due to empty GraphQL Document(s)"
Nuxt crashes when:
- an **empty GraphQL Document** is added while the dev server is running.
- the only GraphQL Document(s) present are **empty** when `yarn dev` or `yarn build` is ran.

[2022-03-07 20:07] #6 closed

[2022-03-08 15:33] Diizzayy opened #8 "Operations with required variables are ignored"

[2022-03-11 03:38] Diizzayy opened #10 "Support multiple GraphQL Clients"

[2022-03-12 19:03] TitusKirch opened #12 "Access token & refresh token setup"
I just found the project here and read #3. Now I have the following question/feature request:

Will the implementation of an access token and a refresh token setup be supported in the future? E.g. if an error message "token expired" comes back, you automatically call a defined query to generate a new access token with its refresh token (HTTP cookie) and then the original query is automatically exe

[2022-03-12 21:40] Diizzayy commented on #12
@TitusKirch Yes, support for access & refresh tokens are already in the pipeline.

Our implementation doesn't yet address this as, though it's a great feature and one that I'll definitely be adding to this module. Built-in support for different authentication error cases would greatly improve DX and make the module easier to adapt for newer developers.

@TitusKirch Thank you for the feedback!

[2022-03-13 13:34] TitusKirch commented on #12
@Diizzayy Thanks for the quick reply! That sounds fanatastic, I'm curious about the future. Good luck in advance.

[2022-03-13 21:27] #3 closed

[2022-03-13 21:27] #10 closed

[2022-03-17 18:03] WiP-Zebras opened #15 "Unable to load template plugin matching 'typescript'."
I have this issue on my personal project using nuxt-graphql-client.
So I tried to see if I also had this error on the **nuxt-graphql-client-demo** project and the answer is yes

### Issue:

When running `npm run dev` throw an error:

### To reproduce:
Clone the [Diizzayy](https://github.com/Diizzayy) /
[nuxt-graphql-client-demo](https://github.com/Diizzayy/nuxt-graphql-client-demo) project
`npm i`

[2022-03-17 18:38] mickasmt opened #16 "Stackblitz preview not working - graphql package missing"
Hi,

I just tested the preview on Stackblitz and the graphql package is missing. I get the following error:

` ERROR  Cannot start nuxt:  Cannot find package 'graphql' imported from /home/projects/kkvizxqln.github/node_modules/@graphql-codegen/cli/index.mjs`

I was able to solve the problem with `npm i graphl` in the terminal but I hope you can fix this problem so that we don't have to do it manua

[2022-03-17 20:38] Diizzayy commented on #16
@mickasmt Thank you for pointing that error.

This problem appears to be specific to the Stackblitz environment. In your local development `nuxt-graphql-client` is the only package you need to install

[2022-03-17 20:55] mickasmt commented on #16
Thank you for this return.

[2022-03-17 20:55] #16 closed

[2022-03-18 21:08] dodanex commented on #15
I also have the same problem, with the demo from stackblitz.com and also with a fresh installation of nuxt.
Using Windows 11 with node.js v16.14.0

 This is my console log:
`
ERROR  (node:19600) ExperimentalWarning: buffer.Blob is an experimental feature. This feature could change at any time
(Use `node --trace-warnings ...` to show where the warning was created)

 ERROR  Cannot start nuxt:  Somet

[2022-03-18 21:19] Diizzayy commented on #15
@WiP-Zebras @dodanex Thank you for pointing out this issue.

Currently working on a fix to have this addressed.

It only occurs on windows and is caused by the `@graphql-codegen/cli` dependency.

[2022-03-18 21:40] dodanex commented on #12
@Diizzayy Speaking about authentication, how do you set custom headers on the server side if you want to authentication to the graphql endpoint? We need this 'how to' example in the docs. Thanks.

[2022-03-18 21:49] Diizzayy commented on #12
@dodanex Proper documentation is right around the corner.

[code]

Using the function above, the header `authorization: Bearer my_token` would be added to all subsequent requests.

 - Set headers for default client
[code]
  - Set headers for a specific client (multi-client mode)
[code]

[2022-03-18 21:55] dodanex commented on #12
@Diizzayy great job. Thanks

[2022-03-18 22:04] Diizzayy commented on #12
Looking forward to hearing your feedback while we continue perfecting the module.

[2022-03-21 15:20] larswww commented on #12
So I cannot start Nuxt because Failed to load schema for "gql-sdk.ts", I suspect it fails because no authentication token header is there. I have added the useGqlHeaders in my app.vue, however that is of course after starting nuxt...

Any way I can add the header before trying to load the schema?

[2022-03-23 14:36] larswww commented on #12
Shopify Storefront API requires a custom header name for their auth token.

[2022-03-23 20:43] Diizzayy commented on #12
@larswww
In prior versions, a custom auth header could only be set within the app ( not at build nor `nuxi dev` ) as seen below:
[code]

In the latest version that I just released (`nuxt-graphql-client v0.0.9`), you can set the auth custom header as seen below
[code]

if you're using a single client, you can also set `GQL_TOKEN_NAME` in your `.env`.
When using a single client you can omit having t

[2022-03-29 23:35] Diizzayy opened #23 "Unable to use GraphQL Server hosted via Nuxt API Route"

[2022-04-01 14:34] FWORDIE opened #26 "Duplicate identifier when using DatoCMS"
When using this with DatoCMS I get this error:

  I assume it is related to [this issue](https://github.com/dotansimha/graphql-code-generator/issues/6925)

  Is it possible to fix this? Happy to provide more details

[2022-04-01 17:44] FWORDIE commented on #26
Lil update:

Managed to fix the issue locally by editing the module.mjs with

`async function generate(options) {
  const schema = Object.values(options.clients).map((v) => !v?.token ? v.host : { [v.host]: { headers: { [v?.token?.name || "Authorization"]: `Bearer ${v.token.value}` } } });
  const [{ content }] = await generate$1({
    schema,
    silent: options.silent,
    documents: options.docu

[2022-04-01 19:46] Diizzayy commented on #26
@FWORDIE Thank you for raising this issue, and finding the cause.

I agree, and your fix changing the `namingConvention` for enums should be suffice to prevent others from running into this issue.

I'll push an update to have this addressed.

[2022-04-02 05:33] #26 closed

[2022-04-02 17:49] FWORDIE opened #28 "401 Unauthorized when I query the same url more then once without a page request"
I am trying to do call for data from my CMS with the same Token in two different places, a component(Header) and a NuxtPage(Body). One page load, both useAsyncData calls work and the page works as expected. However, if I change the NuxtPage with a NuxtLink, and hence need to fetch new data for that page, I get a '401 Unauthorized' Error from my CMS (datoCMS). I am using the [refreshnuxtdata](https

[2022-04-02 17:49] FWORDIE commented on #28
also, sorry for the second issue in 2 days. Thanks for fixing the first one so fast

[2022-04-02 17:54] Diizzayy commented on #28
This behavior may have to be revised but currently, to prevent secret tokens from leaking to clients, any tokens added via runtimeConfig or environment variables are only present on serverside

[2022-04-02 17:59] FWORDIE commented on #28
Ok, and sorry for being dumb, quick question. How come the first time it requests the data it is server side and the refresh request is client side, even though they are both in my <script setup>?

[2022-04-02 18:02] Diizzayy commented on #28
No need to apologize.

In web apps which feature server side rendering, the first load along with it's requests happen on the server, where as subsequent reloads after the initial load happen within the browser.

[2022-04-02 18:04] FWORDIE commented on #28
Thanks, v useful.

One more... Is there any way for me to get those subsequent requests sent from the server?

[2022-04-02 18:05] Diizzayy commented on #28
There may be merit in allowing the token to live authentication token to live client, though I'd developers would need to be made aware of the possible risk of exposing their secret tokens.

so perhaps I can implement a `retainToken: true` flag to the configuration that allows the token to be passed along for those use cases.

[2022-04-02 18:07] Diizzayy commented on #28
@FWORDIE The solution would be to use an api route to proxy the requests to the secure API.

The api route would have access to the auth token, hence the response can be made there then passed back to the client

[2022-04-02 18:08] FWORDIE commented on #28
Thanks v much, ill go investigate

[2022-04-02 18:19] Diizzayy commented on #28
@FWORDIE  I actually wouldn't recommend it, and you also won't be able to utilize the `Gql` functions generated by this module in

[2022-04-03 20:04] #28 closed

[2022-04-08 13:47] ririen opened #30 "TypeError: Cannot read properties of undefined (reading 'setHeader')"
There is a problem with the latest Nuxt: `3.0.0-27490192.4253d2e`

`[nitro] [dev] [unhandledRejection] TypeError: Cannot read properties of undefined (reading 'setHeader')`

Line in code: https://github.com/Diizzayy/nuxt-graphql-client/blob/e45ed72dc2f826399d6e3a1b2779b4ca00ac0056/src/runtime/composables.ts#L260

[2022-04-08 14:03] Diizzayy commented on #30
@ririen Thank you for raising this issue, a fix is on the way!

[2022-04-08 15:55] #30 closed

[2022-04-09 20:17] radudiaconu0 opened #32 "Support graphql subscription"
Can u make this library support graphql subscriptions?
https://www.apollographql.com/docs/react/data/subscriptions/

[2022-04-10 18:37] ririen opened #33 "GQL is executed before useRoute"
After recent Nuxt updates, GQL functions with dynamic route stopped working for me.

I created a reproduction that takes the `limit` parameter from `useRoute().fullPath` and switching between pages returns the data as `null`.

CodeSandbox does not return an error in the console for some reason.

The GQL function seems to be executing before `useRoute()` is executed

I'm not sure if I made a good r

[2022-04-11 20:09] Diizzayy commented on #33
@ririen This bug was caused by recent changes to Nuxt that caused the client side runtimeConfig to resolve incorrectly. It should be fixed now that nuxt/framework#4267 is merged.

Also, I had a look at your reproduction and just a few points to make note of:

- when using `useAsyncData` on dynamic pages you have to ensure that the `key` is unique per page. Using an already populated key will resul

[2022-04-11 20:31] Diizzayy commented on #32
@radudiaconu0  I'm currently exploring options to enable support for GraphQL subscriptions whilst keeping the module as lightweight as possible.

Currently, we're using [GraphQL Request](https://github.com/prisma-labs/graphql-request) under the hood and unfortunately it does not support subscriptions.

[2022-04-11 20:31] #32 closed

[2022-04-12 00:11] DenisNikonov opened #36 "Disable code generation on build phase"
How can I disable code generation from the api schema on build stage?
The production backend does not allow me to parse the schema

[2022-04-13 10:46] #33 closed

[2022-04-19 16:20] DenisNikonov commented on #36
At the moment, add an optional parameter that takes the path to the graphql schema, if the parameter is specified, the schema update does not happen.
As a solution option

[2022-04-20 14:49] eveningforgery opened #39 "Doesn't work on nuxt3 3.0.0-rc.0"
[code]

Seems like the nuxt team changed how the runtimeConfig works so nuxt-graphql-client is throwing an error as it doesn't find the endpoint.

https://v3.nuxtjs.org/migration/runtime-config/#runtime-config

[2022-04-20 17:20] Diizzayy commented on #36
@DenisNikonov Thank you for your patience, I was away over the past couple days.

Your suggestion is certainly a valid workaround ( thanks for putting it forward ).

I'll update the module to allow schemas to be provided alongside the host to forego querying the host for code generation.

[2022-04-20 17:52] DenisNikonov commented on #36
@Diizzayy Thank you for your reply!
If necessary, I can do PR.

[2022-04-20 18:22] eveningforgery commented on #39
My bad, went a bit too fast there. Thanks!

[2022-04-20 18:22] #39 closed

[2022-04-20 18:43] Diizzayy commented on #36
@DenisNikonov The PR is almost ready to go, you can have a look at #42 . Currently running a final test before merging.

[2022-04-20 18:44] #5 closed

[2022-04-20 18:50] DenisNikonov commented on #36
Great! Thank you for your work!

[2022-04-20 18:55] #36 closed

[2022-04-22 20:43] djmtype opened #44 "Example not working on Stackblitz"
Opening the example found here, https://nuxt-graphql-client.web.app/#nuxt-graphql-client, doesn't work – fails to load schema.

[2022-04-26 09:57] chrispreisler opened #48 "Not working with Shopify Storefront API"
Hey guys,

I am playing around with Nuxt3 and Shopify and started testing out your library. Unfortunately it seems, that it doesn't work with the Shopify Storefront API. Is this because the Shopify Storefront API is not able to give back the types?

I have created a repo here:
https://stackblitz.com/edit/github-pkuqo9-f28qfe?file=nuxt.config.ts

Here is the error I get:

[code]

Thanks so much for

[2022-04-26 20:56] Diizzayy commented on #48
@chrispreisler Thank you for raising this issue and providing the reproduction, it allowed me to pinpoint the issue here.

As you know Shopify uses custom header names for authentication `X-Shopify-Storefront-Access-Token: <YOUR_TOKEN>`. Now the problem here is that current behavior of this module prepends `Bearer` to your access token which then results in a 401 error request hence the failed cod

[2022-04-26 21:11] Diizzayy commented on #48
@chrispreisler the new version introduces a `type` property to the `token` that defaults to `Bearer`, you can set it to `null` to resolve this issue.

[code]

[2022-04-26 21:11] #48 closed

[2022-04-26 21:29] Diizzayy commented on #44
@djmtype Thank you for pointing this out.

It should now be working properly. Feel free to test it out https://stackblitz.com/github/diizzayy/nuxt-graphql-client-demo

[2022-04-27 11:08] #44 closed

[2022-04-27 12:13] chrispreisler commented on #48
@Diizzayy thanks so much for looking into it so fast. Now it works like a charme. Thanks so much :)

[2022-04-28 09:36] chrispreisler commented on #48
I really like it :) I just ask myself, if it is a bug or normal that it adds 20kb to the "build".

[2022-04-28 16:21] mathix420 commented on #36
It may be great to add this to the documentation as well.

[2022-05-03 08:14] rchl opened #51 "Expose all queries under single object?"
I haven't used the module (disclaimer) but I've read the documentation and I though that if I'd use the module, I would probably prefer all generated APIs to be exposed under single object. For example `$gql.launches`.

Did you think about doing it that way? Would there be disadvantages to that (like tree shaking)?

[2022-05-03 08:25] rchl opened #53 "Generate API from different URL"
My production GQL API doesn't have introspection enabled so I would guess that the module wouldn't be able to generate schema for it. I do have a stage API that does have introspection enabled though.

Would it make sense to be able to specify a different endpoint for generation and different endpoint to actually use for making queries? That would be one way to fix that problem, I guess.

Disclaim

[2022-05-03 10:45] Diizzayy commented on #51
@rchl Indeed, the auto import aspect of the generated functions derive from a single composable `useGql`. You can disable `autoImport` in the module config and simply resort to using `useGql().launches`

None whatsoever 👍

[2022-05-03 10:57] Diizzayy commented on #53
@rchl As is ( _and I've yet to update the documentation to reflect this_ ) this module currently offers a solution for this very issue in the form of allowing a GraphQL schema file to be specified solely for introspection. You can have a look at the PR for now [allow schema to be provided for code generation](#42)

This workaround is in fact feasible and could be implemented if need be, though get

[2022-05-03 11:11] rchl commented on #51
So then would it make sense to expose the result of `useGql()` as an auto-import?

[2022-05-03 11:35] #53 closed

[2022-05-03 11:42] rchl commented on #51
I see. So it sounds like it should be pretty easy to do something like that with some custom code, even if not that might require a manual import.

[2022-05-03 11:42] #51 closed

[2022-05-06 10:15] narduin opened #54 "Global access token not used on client-side navigation"
Hello!

I've been experimenting with nuxt3 and directus using your module to call the graphql endpoint.
I have set up the .env like so:

[code]
I then created my request files and asyncData fetching like in the docs:
[code]
This works great!

However, when doing the same thing inside a dynamic route page, it seems like the access token is no longer used. I get an error 400. Adding `useGqlToken('MY

[2022-05-06 11:09] narduin commented on #54
Oh I understand, this is sane behaviour. I just realized that it's the same with non-dynamic routes actually.
Is it supposed to be resolved by using the variables inside runtimeConfig? I tried this but nothing changed:

[code]

@Diizzayy, I think it would be favorable but I'm not entirely sure as I plan to use `nuxt generate` when fully supported.
I would not want you to work on this if `nuxt gene

[2022-05-06 11:16] Diizzayy commented on #54
Not quite, manually adding the token to `runtimeConfig` is equivalent to using an env variable.

I would not want you to work on this if nuxt generate will not be supported!

Using `nuxt generate` would certainly get around this issue, though you'd still need to make client-side authenticated requests during development.

I think there is merit in adding the `retainToken` flag as a bypass for the

[2022-05-06 12:43] #54 closed

[2022-05-08 21:26] fskarmeta opened #57 "Failed to load schema for "gql-sdk.ts" on deploy"
Hello dear developers,

I've managed to create a strapi/graphql/heroku backend that seems to be working fine to me in development mode and also on the local build. But when trying to deploy the Nuxt3/TS app to Netlify or DigitalOcean I've been getting this error. I guess it's probably server-related.

Any hints would be really appreciated. :)
And thanks for your work !

[code]

[2022-05-08 22:17] Diizzayy commented on #57
@fskarmeta Thank you for raising this issue, though I've not been able to reproduce this occurrence on my end [netlify minimal demo](https://bespoke-jelly-5207b6.netlify.app)

Would you be able to produce a reproduction so I can see exactly where the cause might be?

[2022-05-08 22:26] fskarmeta commented on #57
@Diizzayy oh that's good to hear.. so probably I'm doing something wrong.

https://github.com/fskarmeta/catorcentena-frontend just made it public for you to see since its WIP :d

[2022-05-08 22:30] Diizzayy commented on #57
@fskarmeta I'll have a look now

[2022-05-08 22:31] fskarmeta commented on #57
@Diizzayy thank you very much :) !

[2022-05-08 22:49] Diizzayy commented on #57
@fskarmeta I wasn't able to pinpoint the issue here but I suspect it was caused by a mismatch of dependencies due to locked older versions your `yarn.lock` file.

Simply deleting that file then running `yarn install` resolved the issues on my end

[2022-05-08 22:55] fskarmeta commented on #57
@Diizzayy yes.. that solved that issue! I should have tried that out before. Thanks so much for your time! Really appreciate it

[2022-05-08 22:57] Diizzayy commented on #57
@fskarmeta No problem at all, I'm happy to help.

[2022-05-08 22:57] #57 closed

[2022-05-10 16:26] ririen opened #68 "bug(pnpm): require() of ES Module"
With `pnpm` after` pnpm build` and then `pnpm preview` crashes with strange errors. With `yarn` everything works fine.

------------------------------
- Operating System: `Linux`
- Node Version:     `v18.1.0`
- Nuxt Version:     `3.0.0-rc.3`
- Package Manager:  `pnpm@7.0.1`
- Builder:          `vite`
- User Config:      `runtimeConfig`, `css`, `modules`, `vueuse`, `schemaOrg`, `unocss`, `experimen

[2022-05-10 18:45] DenisNikonov commented on #68
i get this error with `yarn` after `yarn preview` or `node .output/server/index.mjs`

[code]

[2022-05-11 21:43] Diizzayy commented on #68
@ririen @DenisNikonov This was addressed upstream and should now be working without issue for you.

_be sure to delete your lockfile (`yarn.lock` or `package-lock.json`) and ensure that your new lockfile uses `unenv >= 0.5.2`, this can be verified for yarn by running `yarn why unenv`_

[2022-05-11 22:30] DenisNikonov commented on #68
@Diizzayy It works! Thank you for your work

[2022-05-12 12:28] #68 closed

[2022-05-12 12:28] #15 closed

[2022-05-16 08:07] jmdmacapagal opened #71 "Unable to load template plugin matching 'typescript'"
hi im experiencing this error

![168545966-fd91ce22-fb03-4a6d-80e4-c158b68fe50d](https://user-images.githubusercontent.com/34160255/168547487-30b3202c-ced5-456e-b85e-4ce7d2afaa90.png)

steps to reproduce:
follow the quick start guide from the documentation

"nuxt-graphql-client": "0.0.28",
"graphql": "^16.5.0",
"nuxt": "3.0.0-rc.3"

[2022-05-16 11:36] #71 closed

[2022-05-16 11:38] Diizzayy commented on #71
@jmdmacapagal This should be fixed in the latest released. Be sure to update to the latest version and give it another try.

[2022-05-16 12:49] aspitrine commented on #12
Any update of this issue ?
Provide a middleware who catch error globally will be really nice 😀

[2022-05-16 16:30] michtio opened #74 "feat: add `clientHost` option"
Currently we can only add a single host into the GQL client, when working in closed network environments ( e.g. Docker ) we need to be able to link to `http://nginx:80/api` as the internal container name, once the application is up and running however we need a `clientHost` as other applications ran will not be able to connect to the internal IP address but would required something like `http://lo

[2022-05-16 23:31] #74 closed

[2022-05-27 00:42] c-schwan commented on #23
Use Server middleware to inject the client to the event.context

[2022-06-01 08:11] Baroshem opened #80 "[Bug]"
Hi @Diizzayy !

I encountered a strange issue when working with your module (which is great BTW)

Everything works great when accessing the page from URL, but when I am doing a page transition (i.e. from Homepage to Product Page) I am getting a 403 on graphql.json. I am using the example with Shopify.

Have you encountered something like this already?

[2022-06-01 09:33] Diizzayy commented on #80
@Baroshem I'm interested to hear your findings. If our suspicions are correct you can have a look at [retaining config level tokens ](https://github.com/Diizzayy/nuxt-graphql-client/pull/55) to aid in debugging this issue

[2022-06-01 14:14] Baroshem commented on #80
Hey, it seems like I have to retain the token for client side data fetching. Do you know any approach that I could do to somehow force client side fetch through some kind of server middleware to not retain the token?

[2022-06-01 22:00] farin opened #81 "documentation request - show how to reference result types"
Hi

although types are automatically imported
it's not clear how to reference result types

in other words, I would like to explicitly use result type in child component props
[code]

[2022-06-01 23:48] Diizzayy commented on #81
@farin The auto imported gql function can be leveraged as seen below.

[code]

You can also import the gql function directly from `#build/gql` to infer your types as needed

[2022-06-03 11:29] Baroshem commented on #80
For now I will leave it as it is as I cannot find any workaround.

BTW, do you have any example of triggering mutation on the client side? Like adding product to cart by clicking a button on the product page?

In the docs I was only able to see examples of useAsyncData with queries

[2022-06-03 12:42] Diizzayy commented on #80
@Baroshem

I need to update the documentation with clearer examples for different use cases.

This can be achieved as explained below.

- Given the following

`Nuxt-app/queries/user.gql`
[code]

- Usage

[code]

ps: the properties returned by gal functions are named based on the GraphQL operation name

[2022-06-03 12:48] Diizzayy commented on #80
@Baroshem I'll look into a way to circumvent this case for instances where the GraphQL query should only be made in a secured environment (server side) to prevent private token usage.

As this use case isn't limited to this module, it would be good if we provide a first class workaround using the capabilities that Nuxt 3 offers

[2022-06-04 11:00] Diizzayy commented on #80
@Baroshem I love that you're delving into creating video tutorial, those will definitely be a great help to many newcomers in the Nuxt community.

I'm looking forward to checking out the video when it's released 😁

I'm glad to hear that you're liking it, it's going to get even better from here.

[2022-06-05 16:29] b-arabah opened #82 "Disable code generation"
It would be nice if we could disable code generation. Is there any option in the configuration to do that?

Thanks.

[2022-06-05 17:18] Diizzayy commented on #82
This module is highly dependent on code generation, so completely disabling it isn't currently supported.

@b-arabah Might I ask why you'd like to have it disabled?

[2022-06-05 17:28] b-arabah commented on #82
Cause I'm using MongoDB Realm and its GraphQL needs an authentication to be requested. In this case, one solution would be to find a way to pass an API Key to Nuxt GraphQL Client.

[2022-06-05 18:06] Diizzayy commented on #82
@b-arabah This can be achieved by modifying your configuration as seen below

[code]

ps: `token.type` must be null to prevent it from being sent as `Bearer`.

Also, be aware that since your GraphQL API requires authentication, the client side (browser) will also need to be authenticated before making any requests.

[Authenticating a realm user returns an `access_token` ](https://www.mongodb.com/d

[2022-06-05 19:28] b-arabah commented on #82
It works perfectly. Thank you so much!

[2022-06-05 19:35] Diizzayy commented on #82
@b-arabah No problem. I'm happy to help.

[2022-06-06 11:18] membranobruno opened #86 "Any example with mutaion"
Thanks a lot for so usefull product. Could you please provide any example with mutation ?

[2022-06-06 11:21] Diizzayy commented on #86
@membranobruno

- Given the following

`Nuxt-app/queries/user.gql`
[code]

- Usage

[code]

[2022-06-07 12:30] cfab opened #87 "how to use cookie from request headers ?"
Hello,
I'm trying to use wordpress with wp-graphql and I need to post some mutations from my nuxt front-end.
I'm using [wp-grapql-cors](https://github.com/funkhaus/wp-graphql-cors) to login and there is indeed a Set-Cookie in the response headers.
Using Postman, I can see the cookie and with authorization tab set to "inherit from parent", if I post a mutation to create a page for example,  it work

[2022-06-07 15:14] cfab commented on #87
Thank you. This is great, but I cannot hard code the token.value as it will be different for each user when they login...

[2022-06-07 16:44] douglasgusson commented on #87
Hello, I would like to know if there is a possibility to include other parameters in the headers through the client configuration, for cases where custom headers are needed to read the API schema.

Thanks in advance!

[2022-06-07 17:05] Diizzayy commented on #87
@douglasgusson I haven't yet provided a way for this to be added via nuxt config (_though a PR enabling this is on the horizon_), and from my understanding this is where it's required for your use-case ( reading the API schema ).

might I ask what the GraphQL service that you're using is and what the necessary headers are?

However though custom headers can be added to requests via [the `useGqlHea

[2022-06-07 17:43] douglasgusson commented on #87
Hello, @Diizzayy, thanks for the answer.

My application is multitenancy. So, when I make a request, is needed to put an special header to specify what tenant I want to download the API schema. So, I would be greatfull if you allow to put it on requests.  If you preffer, I can make a PR.

[2022-06-07 17:52] Diizzayy commented on #87
@douglasgusson Okay I understand, Thank you for the explanation.

That would be great.

[2022-06-07 21:05] Diizzayy opened #88 "context: client operations are duplicated on regeneration"
GqlContext `clientOps` values are duplicated when `prepareOperations` is triggered after initial generation.

[2022-06-07 21:39] #88 closed, assigned to Diizzayy

[2022-06-09 01:24] TomDo1234 opened #90 "How to force graphql to trust SSL?"
Context: A subdomain of a Wordpress multisite we have has a staging site.

Wp Engine has a bug where it doesnt have proper SSL for deep nested subdomains

A staging site of a subdomain is a subdomain of a subdomain and wpengine doesnt support that well yet.

This leads to graphql not working because it doesnt trust ssl

I need to at the moment use http instead of https.

How to fix it? How to set

[2022-06-09 05:50] cfab commented on #87
@Diizzayy Many thanks for your thorough answer, this is great support ! I'll let you know if I don't manage...

[2022-06-10 07:00] TomDo1234 opened #91 "No GQL files in queries folder leads to failed build"
Start a fresh project, if you have nuxt-graphql-client installed and have no Graphql files in your queries you will get a build error

'getSdk' is not exported by .nuxt/gql-sdk.ts, imported by node_modules/nuxt-graphql-client/dist/runtime/composables/index.mjs

[2022-06-10 08:59] Diizzayy commented on #90
@TomDo1234 Unfortunately, This isn't an aspect that this module currently addresses

Strictly using an `http` url should suffice, providing that your server doesn't enforce / redirect requests to `https`

[2022-06-16 10:31] #90 closed

[2022-06-20 20:40] serggiocaramello opened #102 "Are queries reactive to reactive variables?"
Hello, i have to change the value of the variable limit to 5, but i dont know why the displayed result is always 10.

I would like to ask if is a way to change the amount of displayed resullt from 10 to 5.

    <template>
      <div>
        <h2>Starlink Launches</h2>
        <p>Limit: {{limit}}</p>
        <button @click="limit = 5">change limit to 5</button>

        <p v-for="(entry, i) of data

[2022-06-20 22:45] Diizzayy commented on #102
@serggiocaramello Queries aren't reactive by default, however though using your example above, you can extract the `refresh` function from `useAsyncData` and either call it manually or use a watcher as seen below

[code]

[2022-06-20 23:14] serggiocaramello commented on #102
@Diizzayy Thanks, it works!

[2022-06-20 23:14] #102 closed

[2022-06-23 15:24] b-arabah opened #107 "ERROR (node:22713)"
Hello,

This error happens every time Nuxt starts (with yarn run dev).

ERROR  (node:22713) ExperimentalWarning: buffer.Blob is an experimental feature. This feature could change at any time
(Use `node --trace-warnings ...` to show where the warning was created)

Node v16.14.2

[2022-06-27 11:35] Diizzayy commented on #107
@b-arabah This isn't an actual bug nor error for your app, but rather a warning that experimental NodeJS features are being used within your app or it's dependencies. I know the warnings are noisy but they can be safely ignored.

[2022-06-27 11:35] #107 closed

[2022-06-28 01:14] liamb13 opened #109 "Example for route generation"
Trying to figure out how to pass params to the queries.

Use case;
Generate dynamic routes by passing the page slug or id to a single item query.

Based on your example, how could I pass the `$limit` property to `queries/starlink.gql`?

[2022-06-28 09:40] cfab opened #110 "nuxt graphql client & useState"
Hello,
This is not a bug but a question:
Within composable/states.js I'm trying to use one state in another (need current saison in order to fetch current season spectacles). But I get an error (500 Nuxt instance unavailable) as soon as I use one export in another.
I've done a test with basic fetch here to check if it is possible and indeed it is and works (https://stackblitz.com/edit/nuxt-starter

[2022-07-04 13:31] colinscz opened #114 "Demo app failing- Failed to load schema for "gql-sdk.ts""
Hi there

I just saw that the demo with the SpaceX API is failing under: https://stackblitz.com/github/diizzayy/nuxt-graphql-client-demo

I got the same error in local with the exact same setup.

[2022-07-04 16:00] Diizzayy commented on #114
@cnschwarz Thanks you for pointing this out, it seems to have been caused by mismatching dependencies and should be fixed now.

If you still encounter this in your local setup, try deleting the `node_modules` folder along with either the `yarn.lock` or `package-lock.json` files.

also, adding the graphql dependency isn't needed, it was added to the demo as a workaround for a bug in the stackblitz

[2022-07-05 12:50] cnschwarz commented on #114
@Diizzayy thanks for the quick response. Unfortunately I have the same error even after removing the `graphql `dependency deleting both ` node_modules and package-lock.json` + a new fresh npm install after doing all this.

On startup I get the same error as described here: https://github.com/Diizzayy/nuxt-graphql-client/issues/57

[2022-07-06 06:03] krank56 opened #117 "Cannot preview after nuxt build"
I get this error when trying to run the bundled nuxt app
`[nuxt] [request error] Cannot find module '[mypath]\Frontend\.output\server\node_modules\graphql\language\parser' imported from [mypath]\Frontend\.output\server\chunks\server.mjsDid you mean to import graphql/language/parser.js?
  at new NodeError (node:internal/errors:372:5)
  at finalizeResolution (node:internal/modules/esm/resolve:437:11

[2022-07-06 07:00] cnschwarz commented on #114
@Diizzayy  sure thing man, here it is:

[code]

[2022-07-07 11:16] dodanex commented on #23
Having the same issue.
Can you please provide an example ?
Thanks @c-schwan

[2022-07-08 04:29] Diizzayy commented on #117
@krank56 would you be able to provide a simple reproduction where this error occurs with the build?

I've been unable to replicate it on the [demo app](https://github.com/Diizzayy/nuxt-graphql-client-demo), you can have a look at my config below.

------------------------------
- Operating System: `Linux`
- Node Version:     `v16.15.1`
- Nuxt Version:     `3.0.0-rc.4`
- Package Manager:  `yarn@1.2

[2022-07-08 04:30] #109 closed

[2022-07-08 04:30] #86 closed

[2022-07-08 16:41] Diizzayy commented on #117
@krank56  @denis-gorin Thank you for raising this issue and providing the relevant details.

This appears to be an upstream bug with the nuxt 3 production server bundle on windows. We're looking into it and will address this as soon as possible.

[2022-07-08 21:43] ElJere commented on #114
Same problem for me. Is there a work around ? Thanks for your time.

[2022-07-09 10:58] #81 closed

[2022-07-10 13:10] yalondpsi opened #118 "Unknown type error"
Hi
I'm trying to connect with my Keystone JS app.
I need to use a mutation to make a login and get the user's token.
**This is login.gql:**

type Mutation {
  authenticateUserWithPassword(email: String!, password: String!): UserAuthenticationWithPasswordResult!
}

type Query {
  authenticatedItem: AuthenticatedItem
}

union AuthenticatedItem = User

union UserAuthenticationWithPasswordResult = Use

[2022-07-10 13:45] Diizzayy commented on #118
@yalondpsi A few points to take note of, the type definitions exist on the GraphQL API's schema  and hence shouldn't be manually added to your query / mutation definitions.

Unknown type "UserAuthenticationWithPasswordSuccess"
Unknown type "UserAuthenticationWithPasswordFailure"

These errors indicates that your Keystone system hasn't been extended to support authentication, you need to use the `c

[2022-07-10 13:48] yalondpsi commented on #118
@Diizzayy Hi
Thank you very much for the detailed answer.
I will try it

[2022-07-10 14:22] yalondpsi commented on #118
Working :)
I also added the 'sessionToken' to return a token from the mutation function Login.
Maybe the next question is not in the scope of the support of this module, but can you please tell me or refer me:
Where and how I store the token - to use it with the next gql calls to the api?
Thank you !!

[2022-07-10 14:47] Diizzayy commented on #118
This module provides a [useGqlToken composable](https://nuxt-graphql-client.web.app/getting-started/composables#usegqltoken) which can be used to attach your Auth Token to subsequent GraphQL requests.

[code]

You'll have to decide between storing your token in either a cookie ( **my recommendation** ) or in local storage based on your app's requirements (SSR etc), after doing so you can then crea

[2022-07-10 14:51] yalondpsi commented on #118
@Diizzayy Wow
Thank you again! much appriciated!!!

[2022-07-11 11:44] #118 closed

[2022-07-12 12:41] yalondpsi commented on #118
Hi @Diizzayy
I think there is a bug, not sure:
when I run yarn dev of the nuxt 3 app (latest rc 4) and the graphql api is down, I get an error:

**Cannot start nuxt:  Failed to load schema for "gql-sdk.ts"**
        Failed to load schema from http://localhost:3000/api/graphql:
        Unexpected token < in JSON at position 0
        SyntaxError: Unexpected token < in JSON at position 0

Thank you

[2022-07-12 16:11] Diizzayy commented on #118
@yalondpsi This module currently requires an active GraphQL api ( for Code Generation )

[2022-07-12 16:51] yalondpsi commented on #118
@Diizzayy understood

[2022-07-13 18:52] ariviom opened #120 "Send query params along with the host defined in runtimeConfig?"
I'm working on a headless Craft CMS site and need to send api requests with a dynamically generated query parameter to get live previews of content. Is it possible to send query parameters along with the GraphQL request?

[2022-07-16 12:04] daniluk4000 commented on #110
I experience the same error.

[2022-07-18 11:51] Mnigos opened #127 "Nuxt error while building `'getSdk' is not exported by .nuxt/gql-sdk.ts`"
`nuxt.config.ts`
[code]

`dependencies`
[code]

`full nuxt build output`
[code]

[2022-07-18 13:46] Diizzayy commented on #127
@Mnigos Thank you for raising this issue, a PR fixing it should be up in a few minutes

[2022-07-18 15:03] #127 closed

[2022-07-20 10:14] Diizzayy opened #130 "Support custom headers via config"
Hello, I would like to know if there is a possibility to include other parameters in the headers through the client configuration, for cases where custom headers are needed to read the API schema.

Thanks in advance!

_Originally posted by @douglasgusson in https://github.com/Diizzayy/nuxt-graphql-client/issues/87#issuecomment-1148916362_

Hello, @Diizzayy, thanks for the answer.

My application i

[2022-07-20 10:15] #87 closed

[2022-07-20 16:39] Diizzayy commented on #110
@cfab @daniluk4000 This is due to a current limitation of Nuxt3 and inherently Vue 3

The context is lost after the first `await` call, hence any calls to any Nuxt 3 composable (ie: `useState`) or calls to any function that is depending upon context will result in the `nuxt instance unavailable` error.

example:
[code]

A workaround if you must:
[code]

[2022-07-20 16:58] Diizzayy opened #131 "Nuxt context lost after awaited call to Gql Functions during SSR"
The example below would result in nuxt context being lost

[code]

[2022-07-20 19:06] #91 closed

[2022-07-20 19:15] #131 closed

[2022-07-20 19:16] Diizzayy commented on #130
Resolved in #132

[2022-07-20 19:16] #130 closed

[2022-07-21 07:16] boboldehampsink opened #134 "Issue with 0.1.2: defineNuxtPlugin is not defined"
After updating to 0.1.2 i'm seeing the following issue:

[code]

Downgrading back to 0.1.1 resolves this issue

Using Nuxt 3 RC.6

[2022-07-21 13:18] boboldehampsink opened #135 "Question: how to run from within a custom module?"
I have a custom module that extends pages via the `nuxt.hook('pages:extend')` hook and would like to do a gql query to get extra routes from the server. How can I use this plugin at build time in a custom module?

[2022-07-21 15:42] tasiotas commented on #114
In my case I can reach SpaceX API, but not mine. When I reach my API, I get the same error as above.

I use django-graphql and it works fine, I can reach it with Apollo or Postman.

Thanks!

[2022-07-21 17:20] Diizzayy commented on #114
@tasiotas Can you run `yarn nuxi info` and post the output here along with the exact error that you're receiving when using your own API.

I've been completely unable to replicate this issue so any information at all would help in coming to a resolution.

[2022-07-21 17:21] #134 closed

[2022-07-21 17:32] tasiotas commented on #114
sure, ill get back to you with more info.

FYI, im on Windows, will give it a try on Linux on my VM. I think you had some issues on Win before.

[2022-07-21 17:35] tasiotas opened #136 "useState is not defined"
Hi,

On 1.1.5 and Nuxt3 RC6 getting this error. Easy repro on your Stackblitz
https://stackblitz.com/edit/nuxt-graphql-bmkppb?file=package.json

Thank you

[code]

[2022-07-21 17:49] #136 closed

[2022-07-21 17:52] Diizzayy commented on #114
@tasiotas Thank you, also v0.1.6 is on the way with a hotfix for the `useState` regression. There was quite a large refactor recently

[2022-07-21 17:53] tasiotas commented on #114
I'm getting slightly different errors on dev and prod envs. Look for "unexpected token".
I could give you access to my dev API point, hopefully you could repro the issue. Will need your IP for whitelisting.

Prod :
[code]

Local
[code]

[2022-07-21 18:02] Diizzayy commented on #114
This would certainly, help contact me on discord ( Diizzayy#1964 ) or shoot me a quick email ( me@diizzayy.com ), I'll send you the IP for my dev server and hopefully we can figure out the true underlying cause here

[2022-07-24 09:41] cfab commented on #110
Thank you very much.

[2022-07-26 07:49] marcusarnfast opened #140 "How to fix ExperimentalWarning"
Is there a fix for the following?

ExperimentalWarning: buffer.Blob is an experimental feature. This feature could change at any time                                                                                                   09:07:50
(Use `node --trace-warnings ...` to show where the warning was created)

[2022-07-26 12:57] boboldehampsink opened #141 "Add support for more configuration options"
GraphQL Codegen has some more config options of which I'd like to use some with this nuxt module: https://www.graphql-code-generator.com/docs/config-reference/codegen-config#configuration-options

Specifically disabling document validation

[2022-07-28 16:17] tasiotas opened #143 "Cannot start nuxt: Cannot use import statement outside a module"
Hi,

Since yesterday Nuxt doesnt start with nuxt-graphql-client.
Please check your Stackblitz from Quick Start, im getting the same error.
https://stackblitz.com/edit/nuxt-graphql?file=README.md

package.json hasn't change, I dont know how to roll back or what has changed.

cosmiconfig-typescript-loader has ```import { TypeScriptLoader } from "./loader";``` but I dont see any recent changes in thi

[2022-07-28 16:49] michtio commented on #143
Same issue here!

[2022-07-29 00:47] Diizzayy commented on #143
@tasiotas @michtio I was a bit busy earlier today, but I now have the time to properly investigate this.

[2022-07-29 01:05] tasiotas commented on #143
thank you!
I had to make a temp json file with my data, just so I can keep working, because this issue completely locked me out.

I noticed that this repo is also trying to handle this issue.
https://github.com/kamilkisiela/graphql-config/releases/tag/v4.3.2

[2022-07-29 09:59] DenFin commented on #143
Same issue here!

[2022-07-29 12:32] Diizzayy commented on #143
@tasiotas @michtio @DenFin A quick update. We've narrowed it down to a strange ESM module resolution bug upstream in two different dependencies. A fix is on the way.

[2022-07-29 14:43] Diizzayy commented on #143
@tasiotas @michtio @DenFin

This has been resolved. Be sure to upgrade the module to `v0.1.7`, delete the `node_modules` folder and your lockfile

[2022-07-29 14:43] #143 closed

[2022-07-30 16:38] davidhellmann commented on #120
@Diizzayy any Idea here. It's a thing whats related to CraftCMS and Livepreviews. When Live Previews are used we need to add a token to the API URL like this:

[code]

And the token is dynamically created.

Hope there is solution for this.

[2022-07-30 18:31] Diizzayy commented on #120
@davidhellmann @ariviom Thank you for raising this point, and it's importance.

I'm going to familiarize myself with the requisites for CraftCMS's live preview and determine the best way to provide a proper solution here. I'll keep you updated accordingly.

[2022-08-01 13:50] jeremy-daude opened #148 "Variable paramater in query behavior"
Hello

I try my luck here if its possible issue with this gql client for nuxt3 (and thank you very much for this one !)

I'm trying to make GQL call inside a component with a variable ID as a paramater for my query., as follow :

`const { data: asset } = await useAsyncData('asset', async () => GqlGetAsset(
    { preview: false, id: props.entry.target.sys.id }
  ),
  {
      transform: asset => ass

[2022-08-01 14:10] Diizzayy commented on #148
@jeremy-daude the `useAsyncData` composable is likely the reason for this behavior, upon it's initial call the data is cached by the key (ie: asset) that you've passed, and reused for subsequent calls.

I'd suggest using a unique key per asset as seen below

[code]

The `useAsyncData` composable also takes a property called `initialCache` which allows you to forego caching, that can be utilized as

[2022-08-01 14:55] jeremy-daude commented on #148
@Diizzayy Thank you so much ! your explanation of useAsyncData is better than the whole courses i take for this functionality.

Everything is working as expected now.

Again thank you :)

[2022-08-01 14:55] #148 closed

[2022-08-01 19:16] michtio commented on #143
You're the best @Diizzayy

[2022-08-06 16:42] PrinceEntree8 commented on #117
Hello, it seems that using Nuxt `v3.0.0-rc.6`, the error still persists
[code]
I was wondering if there is an alternative to deploy (under linux)

[2022-08-08 12:36] Mnigos opened #152 "How can I mock generated gql functions"
How can I mock generated gql functions

I tried multiple ways to mock gql functions fe.
[code]

or
[code]

None of these works

[2022-08-09 16:59] Diizzayy commented on #117
@PrinceEntree8  Indeed, this issue solely exists in the windows environment due to the way bundling occurs in current versions of Nuxt 3. I'll continue to keep a close eye on this one and update the status here accordingly.

Hopefully though, we can have this resolved and working properly on Windows in the near future.

[2022-08-10 09:17] PrinceEntree8 opened #155 "Fatal error after generating types on development"
Hello,
Sometimes, when I update the graphql schema, I face this issue where my development server crashes just after model recreation.
I don't know if it is related to reloading schema or not.

I'm using `node 16.16.0` on Windows and `yarn 1.22.19`, here is my `package.json`
[code]

Stack trace
[code]

[2022-08-10 09:51] Diizzayy commented on #155
@PrinceEntree8 Thank you for raising this issue, I haven't encountered this as yet so I'll have to run some tests to determine when exactly as well as how frequently this occurs to get a better understanding of the underlying cause here.

[2022-08-11 10:28] PrinceEntree8 commented on #155
It seems to be a know Nuxt v3 problem nuxt/framework#837

[2022-08-11 10:56] th1nkgr33n opened #156 "Error in parsing .graphql file since v.0.1.10"
We encounter a problem after switching from version 0.1.9 to (0.1.10 or 0.1.11)

We are generating a .graphql file by the IDEA which will be then auto parsed by this package.
Since 0.1.10 there has something changed and for the first definition item the "name" key is missing and therefore the exception/error is raised.

On 0.1.9 the error not occured.
When I console.log() the problematic part this

[2022-08-11 11:19] Diizzayy commented on #156
@th1nkgr33n Version 0.1.10 introduced a change where all `.gql` / `.graphql` files are evaluated to properly map and link the queries and mutations, hence an operation name is often required to differentiate between them.

In this case however, your schema definition file should be omitted from such evaluations as it isn't pertinent to generating your project's Gql functions.

Actually, are you ma

[2022-08-11 23:41] #156 closed

[2022-08-12 07:57] procrates opened #158 "Uncaught SyntaxError: The requested module '/node_modules/graphql-request/dist/index.js?v=1f86a9fa' does not provide an export named 'GraphQLClient' (at index.mjs:2:1)"
Any idea what is causing this on the latest Nuxt 3 release RC7?

[2022-08-12 09:59] Diizzayy commented on #158
@procrates Any additional information here would be useful, can you also post the output of `yarn nuxi info`

[2022-08-15 15:33] giuseppe-hex opened #160 "Fetch Failed error - Failed to load schema"
Hey,

Some context:

- I'm able to get the starlink demo working
- The query I'm trying to use works within postman and graphql-playground
- The API is a local laravel app running in docker
- Using `Nuxt 3.0.0-rc.6`
- I've tried explicitly declaring the schema path and that hasn't helped
- This works with the production url

I get the following error when running `yarn dev`:

![image](https://user

[2022-08-15 18:02] MrTeapot opened #161 "Defer running of mutation so it's not running on component setup"
I'm using ```useAsyncGql``` to run a mutation. I'm defining it in the component setup, but I want to defer running the mutation until a button is clicked.  When the button is clicked, I run the refresh() function.

However, the mutation is also running on component setup. I wish to prevent that because it's polluting the error ref and making an unneccesary request.

I tried using lazy: true in the

[2022-08-18 11:33] Diizzayy commented on #160
@Diizzayy Apologies for the delayed reply here, have you checked to ensure that your api allows GraphQL introspection?

[2022-08-18 11:44] Diizzayy commented on #161
@MrTeapot Apologies for the late reply.

I understand your case here, though I don't think `useAsyncGql` is the right fit here. A better approach might be to call `GqlCreateTodo` in the submit function, If you need access to it's return data elsewhere you can define a script global variable to store it:

[code]

[2022-08-19 07:07] MrTeapot commented on #161
Thanks for getting back to me.
Oh nice, I didn't realize that functions are generated like that! Cool stuff.

I'll give it a try and then post my solution here. Hopefully I can contribute with adding this to the docs afterwards.

[2022-08-23 22:16] gkkirilov commented on #12
Hey @Diizzayy, great work on this one! Just having few questions.

Where is the token saved? Would usage of useGqlToken with empty string reset it?

Also would love if an enhancement can be added and the capitalized first letter can be optional when making requests

[2022-08-23 22:26] Diizzayy commented on #12
@gkkirilov The token is saved in memory, hence you do need to handle the storage and retrieval manually ( currently considering if it's worth integrating the token storage functionality ).

As for your question, Yes, passing either `null` or an empty string should in fact reset the auth header.

[2022-08-25 13:10] melrefaie opened #163 "useAsyncGql types error with transform"
when using useAsyncGql i got errors with types while using transform like this

<img width="1041" alt="image" src="https://user-images.githubusercontent.com/25461028/186667528-24304e06-a5bf-4e7c-9859-24f0da90ae9f.png">
<img width="752" alt="image" src="https://user-images.githubusercontent.com/25461028/186667917-b19a660e-9a98-41cd-8816-00dee125ba10.png">

while using useAsyncData works fine

<img

[2022-08-25 20:11] Diizzayy commented on #163
@melrefaie Thanks for raising this issue. The `useAsyncGql` function's current implementation doesn't pass through the types to the options property, which results in `transform` / `pick` being untyped ( I'll address this in a fix today)

As for the type issue with `slug`, I assume it's expecting a type of string whereas the properties returned by `route.params` are `string | string[]`

`data.user

[2022-08-26 08:56] DenFin opened #164 "There can be only one fragment named "fragmentName""
Hello @Diizzayy,

first of all thank you for providing this client!

I am currently running into the above error message, when I have the following code:

[code]

When I replace ...imageGeneral with the actual fragment and its fields everything works fine.

[code]
Any idea what's causing this error?
[code]

[2022-08-26 21:05] TheDutchCoder commented on #161
This solution works, but I think it would be cleaner if there was a native alternative.
How about something like:
[code]

[2022-08-27 11:45] MrTeapot commented on #161
I agree, that would be way cleaner!
Atm I'm using a composable function that accepts the GqlCreateTodo, or any Gql mutation/query, and returns refs and functions like pending, execute, errors, data, etc.

[2022-09-02 04:22] jcjp opened #169 "Cannot find name 'useAsyncGql' in a `.tsx` file"
### Description:

- Unable to find the function `useAsyncGql` in a `.tsx` file.
- Using `vite` for bundling and `Nuxt 3`.
- Tried copying the example, also tried exporting the function from the library but it was not available

#### Error:
![image](https://user-images.githubusercontent.com/37642320/188057900-dc14ed7a-f91d-4582-81b4-c9dd8faca0ee.png)

#### tsconfig.json:
![image](https://user-image

[2022-09-02 08:53] jcjp commented on #169
I think the culprit with my issue was `pnpm` it's causing some issues when trying to use it for `Nuxt 3` and this library it somehow was not able to install the `node modules` properly even if I added `shamefully-hoist`. I deleted my `node modules` and `.nuxt` reverted back to `yarn` install and my problem was solved I was helped by my colleague.

[2022-09-02 08:53] #169 closed

[2022-09-04 17:56] TheDutchCoder opened #173 "How to run queries server-side in middleware?"
I can't for the life of me figure out how to run any of the queries in server middleware.

The composable can't be used, nor the generated queries (no Vue aliases allowed server-side), so I'm mightily confused as to how to get the server to run a query.

My use case is auth middleware that will fetch the user from GraphQL based on their httpOnly cookie.
This also happens on the client-side after a

[2022-09-04 18:56] Diizzayy commented on #173
@TheDutchCoder A current limitation of this module ( will be addressed in the very next release ) is the inability to execute in the nitro context ( server api / middlewares ).

However though, what you can do is extract that auth initialization logic to a server plugin where you have access to the `httpOnly` cookie and are indeed able to execute queries / mutations. This is also the recommended a

[2022-09-04 18:58] TheDutchCoder commented on #173
@Diizzayy Thanks for the reply! I realize I should've posted this in "Discussions "instead, so I'll close the issue.
I'll take a look at the plugin approach, but I believe there you can't read out the headers, but maybe I'm wrong.

Thanks again!

[2022-09-04 18:58] #173 closed

[2022-09-04 19:02] TheDutchCoder commented on #173
I'm 100% wrong, you do have access to headers, so this is perfect, thanks!

[2022-09-04 19:08] Diizzayy commented on #173
@TheDutchCoder No problem at all, I’m glad to hear the solution works for you.

[2022-09-05 07:04] b805rohit opened #174 "How to add headers?"
runtimeConfig: {
    public: {
      'graphql-client': {
        clients:{
          default:{
            host:"http://localhost:8080/v1/graphql",
            headers:{
              "content-type":"application/json",
              "x-hasura-admin-secret":"####"
            }
          }
        }
      },
    },
  }

Could not obtain introspection result, received: {"errors":[{"extensions":{"cod

[2022-09-05 10:56] procrates opened #175 "Nuxt version `^3.0.0` is required but currently using `3.0.0-rc.9`"
[code]

Referring to [https://github.com/nuxt/framework/discussions/7186](https://github.com/nuxt/framework/discussions/7186)

[2022-09-05 11:02] #175 closed

[2022-09-05 11:32] Diizzayy commented on #174
@b805rohit Your configuration looks alright, So I assume the issue here might be with your hasura API. I'd suggest ensuring that introspection is enabled

[2022-09-06 10:08] boboldehampsink commented on #164
Seeing this too. Would be nice if deduplication was added.

[2022-09-06 10:15] #164 closed

[2022-09-06 12:28] thisismydesign opened #178 "'Invalid host defined options' error on nuxt 2"
`nuxt@2.15.3` on node `14.20.0` getting the following error when I add `nuxt-graphql-client` to the nuxt config:

[code]

Background: This is a great gql client for nuxt 3. We would like to incrementally migrate from nuxt 2 to nuxt 3 and would like to change to this client in the process.

[2022-09-07 15:14] TheDutchCoder opened #180 "useGqlHeaders and useGqlToken aren't reactive"
When using `useGqlHeaders` or `useGqlToken`, I would assume that the passed values can be refs and that the headers/tokens would update on subsequent requests if the refs change.

A simple use-case is sending along JWT access-tokens that change after each GraphQL call.

Currently it will use just use the initial passed in value.

[2022-09-07 15:19] Diizzayy commented on #180
Indeed.

Allowing reactive values to be passed and updated accordingly would certainly be a welcomed improvement, I had initially avoided that very implementation to reduce unintended side effects and ultimately make the debugging process easier on developers' ( having to explicitly call the functions when you wish to affect the underlying request )

[2022-09-07 15:22] Diizzayy commented on #178
@thisismydesign Thank you for reaching out, and for your interest in the module.

Unfortunately, `nuxt-graphql-client` doesn't current support Nuxt 2 nor bridge so that might make your current incremental migration a bit more complicated.

[2022-09-07 20:26] TheDutchCoder opened #181 "useGqlToken(null) is wrongly typed"
Or the docs are incorrect. You can't send `null` to `useGqlToken` as it expects a string in the type.

[2022-09-08 06:52] TomDoFuture opened #182 "Using fragments from other gql files"
in the queries folder I have different files containing queries for each page.

Sometimes they share the same fields which I want to put in a fragment,

too bad I can't "import" fragments from another file

I need to put all these queries + fragment in one file.

How do I fix this?

[2022-09-08 23:44] fosterdouglas opened #183 "Incompatibility with rc.9"
Hello! I just wanted to drop a quick note here to mention that it seems this package isn't working with the recently pushed rc.9 release of Nuxt3

It seems to have something to do with "prerelease constraint" that is mentioned in the Highlights of the release notes. https://github.com/nuxt/framework/releases/tag/v3.0.0-rc.9

https://github.com/nuxt/framework/pull/7116

Thanks !

[2022-09-09 01:11] #183 closed

[2022-09-09 09:22] thisismydesign commented on #178
@Diizzayy Thanks. Closing then

[2022-09-09 09:22] #178 closed

[2022-09-09 10:48] procrates commented on #158
------------------------------
- Operating System: `Darwin`
- Node Version:     `v16.14.2`
- Nuxt Version:     `3.0.0-rc.9`
- Nitro Version:    `0.5.1`
- Package Manager:  `npm@8.5.0`
- Builder:          `vite`
- User Config:      `modules`, `runtimeConfig`
- Runtime Modules:  `nuxt-graphql-client@0.1.14`, `@nuxtjs/tailwindcss@5.3.2`, `@formkit/nuxt@1.0.0-beta.11-0dd967c`
- Build Modules:    `-`
-

[2022-09-09 11:56] emtudo commented on #120
I want to use this package, but what's stopping me is that I still haven't found a solution to change the URL or part of it at runtime.

My problem is a little different from this one. I need to change the organization:

/v1/ORGANIZATION_1/graphql
/v1/ORGANIZATION_2/graphql

In my case the organization is based on the URL.

[2022-09-09 12:06] emtudo opened #184 "Path of schema in runtime"
Is there any way at runtime to inform the schema path or even the schema itself instead of just its name?

[2022-09-10 12:31] TheDutchCoder commented on #181
Alright, I'll install the latest version and report back!

[2022-09-10 12:38] TheDutchCoder commented on #181
Unfortunately, on 0.1.15 it's still typed as string:
<img width="712" alt="image" src="https://user-images.githubusercontent.com/1668207/189483674-8db5b6db-4d3d-4681-b9ba-9db473b2b977.png">

Source: https://github.com/Diizzayy/nuxt-graphql-client/blob/main/src/runtime/composables/index.ts#L154

[2022-09-10 12:43] Diizzayy commented on #181
@TheDutchCoder That usage isn't support, `null` must explicitly be passed for the utility to know that you're intending a reset [More Info Here](https://nuxt-graphql-client.web.app/getting-started/composables#reset-headers)

![Screen Shot 2022-09-10 at 8 43 47 AM](https://user-images.githubusercontent.com/19627670/189483910-2c81b36e-23c1-4faa-93e0-10b7cdc19586.png)

[2022-09-10 12:49] #155 closed

[2022-09-10 13:00] TheDutchCoder commented on #181
<img width="891" alt="image" src="https://user-images.githubusercontent.com/1668207/189484503-2960572b-3f07-4b95-9f3f-e5c4ee00247b.png">
<img width="795" alt="image" src="https://user-images.githubusercontent.com/1668207/189484517-bfd75853-144c-480b-bdf4-4e0caccabc24.png">

That still doesn't work for me on 0.1.15

[2022-09-11 13:39] TheDutchCoder commented on #182
You actually can use fragments, but it's a bit different form using JS files with `gql` and imports.

Example:
[code]

[code]

This will work just fine.

[2022-09-11 19:46] MrTeapot opened #186 "SSR not passing cookies"
Hey!

This is probably an issue based on my lack of knowledge about Nuxt. But I can't find a way to solve it.

I have a Nuxt middleware that makes sure that a user is authenticated before allowing them to navigate to certain pages. The authentication is based on sessions, and a cookie needs to be sent with every request to my graphql api.

This works great in SPA mode: the cookie is passed directl

[2022-09-11 23:06] Diizzayy commented on #184
@emtudo I'm a bit unsure of what you're asking about here, can you give me an example or explain your use case a bit more?

[2022-09-12 00:40] TomDoFuture commented on #182
Thank you!

[2022-09-12 00:40] #182 closed

[2022-09-12 00:47] Diizzayy commented on #186
@MrTeapot Thank you for raising this issue, This module is supposed to proxy cookies in SSR by default but, it seems there might be a bug in it's current implementation that foregoes this expected behavior when your client isn't declared in the `clients` object ( ie: declared via `GQL_HOST` ).

[2022-09-12 01:39] Diizzayy commented on #186
@MrTeapot Update `nuxt-graphql-client` to version `0.1.17` then give it a try again

[2022-09-12 08:00] sweetroll commented on #180
Hey @Diizzayy I am having issue with the 'Currently it will use just use the initial passed in value' mentioned above. I have implemented a basic JWT refresh token middleware but when I attempt to clear out the headers via useGqlHeaders or useGqlToken the are sent anyway.

Accepting reactive values would be a great enhancement but could you allow static values to work if updated in a middleware?

[2022-09-12 08:29] MrTeapot opened #189 "Cancel a request"
Hey!

I have a use case where I have a textbox that triggers a graphql query on input (debounced 300ms).
It's neccessary to cancel previous requests and only handle the last one, to prevent a race condition

Can this be achieved with this library in its current state or should this be considered a feature request? :)

Thanks in advance.

[2022-09-12 08:39] MrTeapot commented on #186
Thanks for getting back to me!

I upgraded but I still have issues.
I get this error in the console now, I don't think I got it before (I also upgraded Nuxt to rc9):
`[Vue warn]: onServerPrefetch is called when there is no active component instance to be associated with. Lifecycle injection APIs can only be used during execution of setup(). If you are using async setup(), make sure to register lif

[2022-09-12 08:43] MrTeapot commented on #186
I changed my middleware to this, now I don't get the warning I just mentioned. But still, the request in unauthorized:
[code]

[2022-09-12 10:11] Diizzayy commented on #189
@MrTeapot This isn't currently support out of the box, though you can implement the logic in your script by monitoring the input then only sending the request if it is indeed the last

[2022-09-12 11:33] Diizzayy commented on #186
@MrTeapot The `onServerPrefetch` warning that your previously encountered, was in fact due to using `useAsyncGql`, perhaps the docs are a bit unclear about it's intended use but, It's only meant to be used to initially request data that is required to render a page. Outside of that case, you should simply be using the pertinent GqlFunction for your query.

As for the authorization issue here, I ca

[2022-09-12 13:39] MrTeapot commented on #186
I can see that the cookie is passed along now! So your library is doing what is expected :)

The graphql api is built with Nestjs, and uses the express-session npm package for session management.

[code]

For some reason it's not picking up the session,  even though the correct cookie is passed!

[2022-09-12 19:44] MrTeapot commented on #186
From what I can see it looks like the nuxt ssr mode gets it's own session id and cookie. When the graphql queries run in SPA mode, it's the cookie id and session associated with the user. But when it runs in SSR mode, it's a different cookie and session id that is not associated with a user.

[2022-09-13 07:34] sweetroll commented on #186
@MrTeapot I am finding the same thing. Console logging out the gqlState in my server middleware shows the correct headers but my GraphQL API receives another. Although it seems like they are old tokens which suggest some persistence bug in the gqlState?

[2022-09-13 07:36] MrTeapot commented on #186
Yup it looks like old cookies are showing up sometimes!

[2022-09-13 08:52] sweetroll commented on #186
@Diizzayy is it possible to override headers per request rather than relying on gqlState, similar to $fetch?

[2022-09-13 10:55] Diizzayy commented on #186
@sweetroll headers can be overridden on a per request basis as seen here
[code]

[2022-09-13 12:20] sweetroll commented on #186
@Diizzayy appreciate your quick reply. That definitely seems to be working better however I'm seeing an issue when trying to unset the Authorization header. When I pass `{}`  in as the headers it seems to be using the previously set token. Thanks

[2022-09-13 12:26] Diizzayy commented on #186
@sweetroll  Passing `{}` would actually have no effect, The proper way to reset headers should be by passing `useGqlHeaders(null)` whereas the auth token should be reset via `useGqlToken(null)`. These should be working as expected, if that isn't that case I'll have to investigate to see exactly what's causing this behavior.

[2022-09-14 15:29] Pjort opened #191 "Force query documentation"
I lack the documentation needed to fire the same query multiple times within a session and it actually making a request to the graphql endpoint each time, instead of only once and the using cached data.

[2022-09-14 22:01] iBobik opened #192 "Move queries to SFC"
[Single file components are best practice.](https://vuejs.org/guide/scaling-up/sfc.html#why-sfc)

Could it be used also for GraphQL? Similarly like here:
- https://github.com/wheatjs/vite-plugin-vue-gql
- https://apollo.vuejs.org/guide/apollo/

[2022-09-15 11:49] aspitrine opened #193 "Error for multiple client. Can't select the good client."
Hi,

I can't use multiple client with nuxt-graphql-client.

I found the error here :
https://github.com/Diizzayy/nuxt-graphql-client/blob/e0a910c281fb1b0ef04a0455619031b41fcf0914/src/runtime/composables/index.ts#L293

for the purpose look at my exemple :

I have 2 client :
- default
- system

I create query and mutation prefixed with the client.

When they need to select the good client
[code]

So

[2022-09-15 14:46] aspitrine commented on #12
It's possible to get a retry method inside the error in `useGqlError` ?

My use case is :
- I made a request
- Failed, need refresh token
- `useGqlError` call
- I refresh my token + `useGqlToken` to put the new token
- Recall the initial request

Thanks in advance

[2022-09-16 19:38] mateuszkulpa commented on #117
Hello,
I found an alternative workaround for this issue. After build, you should use `--experimental-specifier-resolution=node` flag to start your app.
[code]

I believe this issue is caused by import of `graphql/language/parser` without `.mjs` extension in output chunks.

[2022-09-17 06:02] tasiotas commented on #191
same here. How can we clear cache or hit API again?

[2022-09-17 10:16] Diizzayy commented on #191
@Pjort @tasiotas The cache is only hit when either `useAsyncGql` or `useAsyncData` is used, however though we only recommend using `useAsyncGql` when querying data that is needed to load a page. GqlFunctions should be used whenever possible ( their response is never cached )

### with `useAsyncGql`, you can disable initialCache

[code]

[2022-09-17 10:19] Diizzayy commented on #192
@iBobik The decision to forego allowing writing GraphQL documents (queries / mutation) within the SFC is at the heart of this module, and is also one that I don't see us changing anytime soon.

[2022-09-17 10:19] #192 closed

[2022-09-17 10:30] Pjort commented on #191
Thanks for this answer, very usefull.

When you say GqlFunctions which ones are you refering to? Do you mean just using the graphql-request lib with the gencode?

[2022-09-17 10:35] Diizzayy commented on #191
@Pjort This modules automatically generates what we refer to as `GqlFunctions` based on the queries / mutations that you have defined.

So for instance, Given the query below:

[code]

a GqlFunction called `GqlMyShips` would be auto-generated and usable throughout your app, the syntax woud be

[code]

[2022-09-17 10:39] Pjort commented on #191
Oh that sounds so good! I will test it out for sure!

But the documentation doesn't mention this I think? When I have played around with it a bit I intend to make a pull request on the documentation for these things. I can't be the only one that didn't know this and needed this for a project 😊

[2022-09-17 10:41] Pjort commented on #191
Didn't mean to close it untill I have added the documentation

[2022-09-17 10:41] Diizzayy commented on #191
The documentation certainly needs an overhaul! I intend to begin improving it in the near future, You can welcome to assist with the pull requests if you like, I'd appreciate it

[2022-09-17 11:10] Diizzayy commented on #193
@aspitrine Thank you for raising this issue! This bug slipped through the cracks here for far too long, it was caused to a previous regression where the GraphQL operations where no longer being prepared beforehand. This in hand directly affected the usage of `useAsyncGql` in multi-client mode.

[2022-09-17 11:11] #193 closed

[2022-09-20 06:38] jckraig opened #200 "Multiple GraphQL endpoints not working"
Hi all,

Long time reader, first time poster.

I'm trying to get this to work in my nuxt app with a connection to shopify and a local graphql api but not having much luck so far.
Both the Shopify and local API work in postman respectively and i can call various queries in both, but as soon as I add them both in my config like the below:

[code]
In queries/shopify/cartCreate.gql  along with a few o

[2022-09-20 23:48] John-Church commented on #200
I am having the same issue, `Failed to load schema`,  when using Laravel lighthouse instead of django.

[2022-09-21 04:48] jckraig commented on #200
Done a bit more investigating on this and it seems like the queries are trying to be run or introspected against each client. And thats what's causing the errors. In the docs you said we can link the queries to their respective host with a folder under queries or a prefix with the client name correct? I've tried both ways and it seems like neither work. Is there something I'm doing wrong?

I'm try

[2022-09-21 06:29] jckraig commented on #200
OK Can definitely confirm now this must be a bug. Have created a new nuxt3 install with nothing else but nuxt-graphql-client module.

I've only put 2 open graphql apis in there. SpaceX and Starwars.

Can confirm that in both cases where queries are in their own folders or even if the query is prefixed with the relevant client name. There is a clash with it always trying to use the first client. Is

[2022-09-21 22:06] John-Church commented on #160
Hello,

I'm running into similar problem. I'm using Laravel Lighthouse for my graphql api. It does allow introspection and introspection works in Apollo Studio. I get the same error log as above. Let me know if I can provide other details but my setup looks about the same as the one above.

Is there a way to provide a local generated schema? Or to disable code gen?

[2022-09-22 07:25] cnschwarz commented on #114
Hey @Diizzayy
any new developments on this issue? :)

[2022-09-22 15:21] tasiotas commented on #114
It was mistake on my end. Badly configured API.
This client works fine.

[2022-09-22 23:31] zync09 commented on #200
Any help with this one mate? Even a place to start looking for where the clients are looped would be helpful. I can start doing some debugging and make a PR if I can find a fix. @Diizzayy

[2022-09-23 09:43] kuraiconnect opened #204 "Mutation for authorized users"
It is not possible to add a mutation that is only available to authorized users.

I add new mutation in mutations folder `api/mutations/addSeller.gql`
it will only be available to authorized users. But when i added mutation I get an error:
`Cannot query field "addSeller" on type "Mutation".`

i think problem with mutation because it will be available if add headers option:
-  **x-hasura-user-role*

[2022-09-23 11:33] Diizzayy commented on #204
@Kuraiconnect is this error occurring at start time or when you attempt to execute the mutation?

[2022-09-23 11:50] Kuraiconnect commented on #204
At start time

[2022-09-23 11:53] Kuraiconnect commented on #204
@Diizzayy at start time

[2022-09-23 18:38] Diizzayy commented on #200
@jckraig This issue is caused by the underlying graphql code generator, It doesn't seem to be playing nicely with the structure of your api's graphql schema. Might I ask what the starwars graphql api is built on?

[2022-09-23 18:44] Diizzayy commented on #200
@zync09 It's likely the issue you're facing may be slightly different to the one described here, would you be able to provide more details about your case?

[generate.ts](https://github.com/Diizzayy/nuxt-graphql-client/blob/main/src/generate.ts) would be the place to dive in, it specifies the configuration options passed to the graphql codegen.

[2022-09-23 22:54] zync09 commented on #200
Oops sorry I'm the same person as jckraig. One is my work account but was testing under a personal project with this.

The 2 apis are just open source ones. As seen from here: https://www.apollographql.com/blog/community/backend/8-free-to-use-graphql-apis-for-your-projects-and-demos/

I'm just trying to get multiple endpoints working but so far not having much luck. Is there something I'm missing?

[2022-09-24 04:57] zync09 commented on #200
Do you have an example with 2 different graphql clients working? I can't seem to get it to work no matter the API's

[2022-09-26 02:17] jckraig commented on #200
Hi @Diizzayy .

Any luck with this? Just conforming again it's trying to run a query for my custom API against the Shopify client.
![image](https://user-images.githubusercontent.com/106295522/192180526-1889d809-0619-4411-891d-ddd1b43daa1f.png)

QueryRoot is the Shopify root and diamondProductsExternal is something I can query in my api which works in explorer.
![image](https://user-images.githubus

[2022-09-26 05:15] Kuraiconnect commented on #204
Maybe I can show this problem for find solution?

[2022-09-26 17:24] iBobik opened #209 "Get config from graphql-config"
Currently I have to configure GQL client twice:
1. graphql.config.yml for IDE language server
2. nuxt.config.ts for this module

IDE get config by [graphql-config](https://the-guild.dev/graphql/config) which is required by graphql-codegen/cli, requirement of this module, anyway.

Could you add option to use this also? For most use-cases it will be enough to have just one GraphQL config.

[2022-09-27 09:41] DenFin opened #210 "Provide fetch key as an optional parameter to useAsyncGql composable"
Hi @Diizzayy ,

We are using the client to fetch data from Contentful in Nuxt's static mode. As soon as we have an entry twice on a page we get an empty/white page. When we deactivate Javascript in the browser and reload the page, the static HTMl is there and has all the data. It seems like the Javascript hydrates an empty data object into the DOM.

It seems like the problem occurs because there a

[2022-09-27 13:28] Kuraiconnect commented on #204
@Diizzayy thx for your answer. I try it later.

Now I use module  for this and do not have problem with this mutation.

i add two dependencies on my project
`@apollo/client` and `@vue/apollo-composable`

after i add this plugin on my project
[code]
and use mutation in component
[code]

and it's work for me, but I would like to use only your module later because it is very convenient and laconic

[2022-09-28 02:49] NewYorkDoll opened #212 "the error thrown by useAsyncGql will result in null data"
hi @Diizzayy
#### I have a GQL res  data body

<details>
<summary>CLICK ME</summary>
<p>

[code]
</p>
</details>

[code]

I expect data data to be available normally, just like GQL res, instead of being null.

<details>
<summary>my queries</summary>
<p>

[code]
<details>

[2022-09-28 15:04] TheDutchCoder opened #213 "[feature] Make `useAsyncGql` accept refs"
Currently you can't make queries/mutations accept refs as inputs, which forces you to use something like `const { error, refresh: submit } = await useAsyncData('updateAccount', () => GqlUpdateAccount({}))`.

If we could get the inputs to accept refs, you could use the `useAsyncGql` method directly and get nicely typed errors (for example).

Right now we would have to build a custom composable to a

[2022-09-29 07:58] aspitrine opened #214 "Erreur multiple client / schema with the same query signature"
Hi,
I have an error when i use multiple client who have the same field but with different type

`Unable to merge GraphQL type "Query": Field "settings" already defined with a different type. Declared as "directus_settings", but you tried to override with "settings"`

I have in my first client schema
[code]

and in the other client schema
[code]

It's during the `Generate to gql-sdk.ts` phase.
<det

[2022-09-29 14:56] mercs600 opened #215 "How to disable generating"
Hi, our graphql API does not provide introspection on the main endpoint of graphql host. Is there possibility to disable generating or setup different url to get introspection ?

[2022-09-30 08:00] kihayu commented on #215
We have a similar situation at our company. It would be great to have the option to disable the type generation

[2022-09-30 10:27] Diizzayy commented on #215
@mercs600 @kihayu I've just released an experimental version that should enable this, I'd be happy to have the both of you onboard to assist in testing it if you're willing

The edge version can be installed via: `yarn add nuxt-graphql-client@edge`

Codegen can be disabled via: `'graphql-client'.codegen: false`

[2022-09-30 11:48] kihayu commented on #215
Thanks for the quick response. Will test it as soon as I have time

[2022-10-03 06:58] kihayu commented on #215
When I start the dev-server, I get the following error:
[code]

GraphQL server is available for sure.

[2022-10-05 20:33] nikitin-dev opened #216 "useGqlToken/useHeaders with SSR"
Hi there!
I have a problem with reassigning request headers.
I'll start by describing my situation. I am using Nuxt version 3.0.0-rс.9 and strapi for the backend.
In cookies, I have a JWT token, which is written after user authorization. Strapi provides the ability to request user data by forwarding a header with a JWT token.
I want to receive information about the user's authentication status on

[2022-10-06 11:53] Diizzayy commented on #216
@nikitin-dev I've been unable to replicate this behavior locally.

- Token is initially set in server plugin by extracting JWT from cookie, then calling `useGqlToken('<jwt>')`
- Token is stripped by calling `useGqlToken(null)` to logout the user
- Token is then updated again by recalling `useGqlToken('<newToken>')`

Any additional details you may be able to provide, or perhaps a reproduction would

[2022-10-06 13:30] mercs600 commented on #215
@Diizzayy thank you for quick response. It works for me @kihayu

[2022-10-06 13:52] TheDutchCoder opened #218 "When `nuxt-graphql-client` is defined in `modules`, it throws a TS error on npm run dev when `.nuxt` is removed"
When you remove the `.nuxt` folder (e.g. with `npx nuxi clean`) and try to start dev mode, this plugin crashes because it's trying to run TS before the `.nuxt` folder is generated.

It looks like this module is running some typescript compilation before the `.nuxt` folder is generated, and since `tsconfig.json` depends on a config file in `.nuxt`, it will fail to run at all:

[code]

[2022-10-07 08:52] DenFin commented on #210
I am currently taking a deep dive into how SSG and Data fetching in Nuxt 3 works 'under the hood'. I took a look into the Nuxt source code and in asyncData.ts I found this:

[code]
Doesn't this mean, that this should be handled by Nuxt? Two calls with identical keys are no problem, because only one gets sent and the second time only the payload is returned? Sorry if these are dumb questions. I'm s

[2022-10-07 11:06] mercs600 commented on #215
@Diizzayy will it be possible to provide different URL to get introspection ?

[2022-10-07 11:09] Diizzayy commented on #215
@mercs600 Certainly, It will be included in the next edge release.

[2022-10-07 11:11] mercs600 opened #219 "Make queries by GET method"
We are wondering can we use GET to make queries ? Some of them we would like to cache and with POST we are not able to do this on server side.

I noticed this library use https://github.com/prisma-labs/graphql-request as the client and there is possibility to create client with GET method.
On the other hand I noticed you are working on https://github.com/Diizzayy/ohmygql which is used as client in

[2022-10-09 11:34] p3t3r67x0 commented on #218
same here

[2022-10-10 12:14] franzwilding commented on #219
+1 for caching specific queries via GET urls

[2022-10-10 13:24] grmiranda commented on #218
Same here..
the problems here appears to be with the codegen config file

[2022-10-11 08:01] itzaks commented on #218
I managed to go around this issue by creating a specific tsconfig.json for graphql-codegen's ts-node to load.

`package.json`
[code]

`graphql.tsconfig.json`
[code]

[2022-10-11 08:34] Diizzayy commented on #218
@TheDutchCoder @p3t3r67x0 @itzaks

This is a strange occurrence, when `nuxi dev` is ran it should regenerate the `.nuxt` directory before attempting to setup any modules.

I've been unable to reproduce this behavior due to the aforementioned.

Would you guys be able to provide additional details so I can further investigate why this happens? running `npx nuxi info` and posting the output should be

[2022-10-11 08:50] p3t3r67x0 commented on #218
@Diizzayy thanks for reply

Repo to reproduce
https://github.com/p3t3r67x0/nuxt-rc-netlify

Some more details, fyi I changed the user names in output due to privacy reasons.

Steps to reproduce
[code]

Nuxi info output

`pnpm dlx nuxi info`

[code]

[2022-10-11 09:15] iBobik commented on #192
Aha, so it is strategic decision. Could you, please, explain it, so I can learn why I should not do it?Honza Pobořil💬Signal17. 9. 2022 v 12:20, Conrawl Rogers ***@***.***>:﻿
@iBobik The decision to forego allowing writing GraphQL documents (queries / mutation) within the SFC is at the heart of this module, and is also one that I don't see us changing anytime soon.

—Reply to this email directly, v

[2022-10-11 09:15] Diizzayy commented on #218
@p3t3r67x0 Thank you for the reproduction details ( it worked ) , I'll investigate further into it and update this issue accordingly.

[2022-10-11 14:00] #219 closed

[2022-10-12 15:20] blackspike commented on #200
I am having the same issue, I'm trying to use a wpgraphql client and a shopifyql client and they work separately, but not as multiple clients – I also tried different folders/names etc

[2022-10-13 12:00] zync09 commented on #200
Yeah I gave up mate. This library just doesn't work with multiple endpoints.

[2022-10-13 12:06] zync09 commented on #200
I ended up just making my own composable for my other graphql api with useFetch in Nuxt3. Gets the job done. Still using this library for Shopify Storefront Graphql APi though which works well for that at least.

I just can't seem to use another Endpoint without it freaking out and trying to run the queries which are in a separate folder against each endpoint.

[2022-10-13 12:09] blackspike commented on #200
Yeah I get the exact same bug.

Great idea with using the useFetch! I don't suppose you have a snippet of that to give me a head-start do you?

[2022-10-13 12:16] zync09 commented on #200
Sure, it's pretty barebones but use can do something like this.

You can call it with
[code]

[code]

[2022-10-13 12:29] blackspike commented on #200
Awesome thanks man I'll try adding that this afternoon, legend!

[2022-10-13 14:46] blackspike commented on #200
@zync09 that worked great as a stop-gap thank you for your help! 👯‍♀️

[2022-10-14 17:42] Diizzayy commented on #218
@TheDutchCoder @p3t3r67x0 This issue was caused by upstream changes to the `@graphql-codegen/cli` package. Version.

I've just released v0.1.23 for this module which resolves the aforementioned dependency to the last working version as a temporary fix for this issue.

[2022-10-14 22:03] Diizzayy commented on #204
@kuraiconnect Apologies for the delay here.

`v0.1.25` was recently released as per #211, This allows you to specify additional headers that would only be passed to the GraphQL code generator. As mentioned in my previous response, the issue here is that the code generator is unathorized and hence unaware of the `addSeller` mutation. The solution here would be to provide the proper token and `x-has

[2022-10-14 22:03] #184 closed

[2022-10-15 11:41] #174 closed

[2022-10-17 08:59] mercs600 opened #227 "Unable to load local schema file with codegen.stitchSchemas"
After last changes nuxt is not able to start when my introspection schema is loaded from file.
It works only when I switch off stitchSchemas
[code]

stack trace:
[code]

[2022-10-17 10:48] Diizzayy commented on #214
@aspitrine This has been resolved in the newly released `v0.1.27`. The only consideration to be name here is that the GraphQL operations must have different names.

`/nuxt-app/queries/client1/settings.gql`
[code]

`/nuxt-app/queries/client2/settings.gql`
[code]

[2022-10-17 10:49] #160 closed

[2022-10-17 10:50] Diizzayy commented on #140
This isn't an actual bug nor error for your app, but rather a warning that experimental NodeJS features are being used within your app or it's dependencies. I know the warnings are noisy but they can be safely ignored.

[2022-10-17 10:50] #140 closed

[2022-10-17 13:12] emtudo commented on #184
Oops!

Apologies for the delay.

I want to be able to put my schema in the directory that I think makes the most sense and to be able to define which schema I want to call for each place.

[2022-10-17 13:21] Diizzayy commented on #184
@emtudo If my understanding is correct, this should already be possible. Multiple schemas can be placed anywhere in the project and linked to an individual client, note that the schema is only used for the typescript code generation (DX). Under the hood, your queries and mutation can be fired without you ever having to manually specify which client (or schema) to utilize

[2022-10-17 13:24] Diizzayy commented on #227
We have vite:serverCreated hook - what do you think ?

@mercs600 Great suggestion, I'll look further into this today and determine what's the best approach to run the introspection after the vite server has started ( this would also allow graphql servers to be ran via a nuxt api route - which is currently a limitation of this module )

[2022-10-17 13:48] Drillan767 opened #228 "Codegen issues in Docker context"
Hello!

So I'm building a Docker container of a Nuxt 3 (rc 11) project, and here are the related commands of the Dockerfile:

[code]

However, my build fails at the first line, and I get the following errors:

<details>
<summary>Logs</summary>

[code]
</details>

I don't know why i get the same error messages.

Please note that without a Docker context, everything works, but it somehow doesn't whe

[2022-10-17 13:50] blackspike opened #229 "Codegen/Introspection Schema/GraphQLError: Could not obtain introspection result – nuxt fails to build"
Hi there! I've been having issues using the shopify API. I have confirmed that the same credentials all work fine in CURL and in [Paw](https://paw.cloud/) – it seems to be an issue with @graphql-tools?

I've tried a few versions, from `v0.1.21 `- `v0.1.27` without any luck. It does work great with [WP GrapQL](wpgraphql.com/) however.

[code]

My config is as follows

[code]
Any ideas? Thanks!

[2022-10-17 14:26] Diizzayy commented on #229
@blackspike I suspect that the issue here is `type: null` not taking effect, hence the authorization might be passed as `X-Shopify-Storefront-Access-Token: Bearer xxxx`.

[2022-10-17 14:30] blackspike commented on #229
@Diizzayy thanks for you response! I [used this repo](https://github.com/Baroshem/nuxt-shopify-tailwind/blob/main/nuxt.config.ts) as a base, is there a workaround? I've tried removing the `type: null` but the issue remains

[2022-10-17 14:32] Diizzayy commented on #229
@blackspike I'm working on pushing out a fix for this very issue in the next fews minute. `type: null` should work properly after it's merged

[2022-10-17 14:49] Diizzayy commented on #229
@blackspike `v0.1.28` was just released with a fix for this very issue, we've also tested it locally against the shopify API.

[code]

Your initial config seen above should work properly, let me know if you run into any other issues

[2022-10-17 14:53] blackspike commented on #229
@Diizzayy that fixed it! Thank you so much 💜💜💜

[2022-10-17 14:56] Diizzayy commented on #229
@blackspike Happy to help. Also, thank you for bearing with this project, we are approaching the first major release (v1.0.0) so the stability across this module is going to be much better.

[2022-10-17 14:56] #229 closed

[2022-10-17 14:57] blackspike commented on #229
@Diizzayy awesome, best of luck with the release

[2022-10-17 15:18] aspitrine opened #230 "Error generating when token not provided (version 0.1.27)"
I have this error when i start my project with the latest version (0.1.27).

I found this line was the cause

[https://github.com/Diizzayy/nuxt-graphql-client/blob/main/src/module.ts#L83](https://github.com/Diizzayy/nuxt-graphql-client/blob/main/src/module.ts#L83)

More specific `v.token.type` where token is undefined :)

[code]

Thanks for your hard work

[2022-10-17 15:23] iBobik opened #231 "How to protect token for backend"
Hi,
I use this module mostly for generating frontend, so it is ok to be presend on the client, but I also have "admin" token intended only for [backend API](https://v3.nuxtjs.org/guide/directory-structure/server).

I expected that when I create second client used only on the server to protect its secret, but it will be exported to the frontend anyway.

I also tried to override graphql-client confi

[2022-10-17 15:50] Diizzayy commented on #230
@aspitrine Thank you for pointing out this regression! An immediate fix is on the way.

[2022-10-17 15:57] #230 closed

[2022-10-17 16:09] emtudo commented on #184
When I look at the documentation: https://nuxt-graphql-client.web.app/getting-started/composables

I don't see the possibility of me specifying my schema "the file" there I specify the name of the file and it needs to be in a standard directory.

How can I specify the file? example:

import Snacks from './lanches.gql'

const variables = {
limit: 5
}
const { data } = await useAsyncGql(snacks, { var

[2022-10-17 16:17] Diizzayy commented on #184
@emtudo Ahh, You're referring to the GraphQL documents rather than the GraphQL schemas. This module doesn't support manually passing graphql documents.

Is there a reason why the current implementation doesn't meet your needs?

Example below:

`/nuxt-app/queries/demo.gql`
[code]

This query can be executed in your app by:

[code]

[2022-10-17 16:56] emtudo commented on #184
The problem of that I can have two file of that.

/nuxt-app/queries/demo.gql
query launches {
   launches {
     id
   }
}

and another at:

/domains/demo/demo2.gql
query launches {
   launches {
     id
     version
   }
}

And at the moment X I want to use demo2 and not demo

[2022-10-17 17:17] Diizzayy commented on #184
@emtudo You would be to assign a more unique name to each query, that would allow you to use execute both ( also across different GraphQL APIs if needed )

[code]

[code]

[2022-10-17 23:27] Diizzayy commented on #215
@mercs600 @Drillan767 Codegen can be disabled as of `v0.2.0`, by setting the `codegen` property of the `graphql-client` configuration to `false`.

[code]

[2022-10-17 23:27] #215 closed

[2022-10-17 23:36] Diizzayy commented on #228
The error you provided indicates that codegen is unable to run the introspection query within the Docker container. Can you confirm that the docker container does infact have network access to your endpoint? You mentioned that you were able to run a query via curl, was that done within the docker container or your local machine?

As for this, I've recently released `v0.2.0` which should allow code

[2022-10-17 23:39] #227 closed

[2022-10-17 23:52] #216 closed

[2022-10-18 00:19] Diizzayy commented on #210
@DenFin Apologies for the incredibly late response here.

There is certainly merit in allowing the keys to be managed manually.

I've attempted to reproduce the behavior you've described to no avail, A second call to `useAsyncGql` with a previously fetched key does infact return the data from the initial call as opposed to making an unnecessary request.

Not quite, the code you referenced applies

[2022-10-18 00:45] Diizzayy commented on #200
@blackspike @zync09 The support for multiple clients has been vastly improved in recent releases. Any feedback you guys may have would be appreciated.

[2022-10-18 00:48] zync09 commented on #200
Awesome, thank you @Diizzayy . Will update to latest and keep you posted.

[2022-10-18 01:03] Diizzayy commented on #200
@zync09 Here is a basic demo - https://stackblitz.com/edit/nuxt-starter-lah1bq

[2022-10-18 07:33] Drillan767 commented on #228
Yes, they need to share the same network anyway

It was inside the container, my api has the service name "api" and is available at the port 1337, so I ran a curl command hitting `http://api:1337` with a random GraphQL query, and I got a response, which is why I created an issue 🥲

I'll look into it, thanks!

[2022-10-18 08:31] Drillan767 commented on #228
**Update**

So, disabling the codegen works, however, it of course makes my GraphQL request not work at all afterwards (I should have guessed it haha).

However, I managed to generate a introspection schema, and told Nuxt to use it, so I could run my commands without trouble. I still have to find a way to automate it, but it's way better than nothing.

So there seems to be a problem with how the c

[2022-10-18 08:37] Diizzayy commented on #228
@Drillan767 Thanks for the update.

I find this to be even more strange. I'm currently taking the time to put together a docker reproduction, so hopefully I'll have some answers soon.

[2022-10-18 08:43] Diizzayy commented on #186
Closing for now as the initial issue raised should be fixed in recently released versions `^0.1.28`

[2022-10-18 08:43] #186 closed

[2022-10-18 16:11] aspitrine opened #232 "Change dynamically client endpoint"
Hi,
It's not a bug but a feature.

I think it's a really specific case but i need to set the endpoint computed from my current url and it's not possible at runtime.

Can you add a composable like `useGqlToken` to change the endpoint of my client ?

You are using graphql-request with `new GraphQLClient` and they have a method `client.setEndpoint(newEndpoint)` to do this.

Thank you for your work

[2022-10-18 16:19] aspitrine commented on #232
I'm not really good with type but i think it's look like this

[code]

[2022-10-18 18:50] iBobik commented on #231
Aha, I just misunderstood what retainToken does. Sorry :-)

[2022-10-19 11:09] Diizzayy commented on #232
@aspitrine As per your request, A PR adding this functionality is on the way.

[2022-10-19 13:09] #228 closed

[2022-10-19 15:08] #232 closed

[2022-10-19 15:22] Diizzayy commented on #232
@aspitrine This functionality has been added in `v0.2.1` via the [`useGqlHost` composable](https://nuxt-graphql-client.web.app/getting-started/composables#usegqlhost)

[2022-10-20 07:13] aspitrine commented on #232
Thanks a lot !

Have a nice day 😄

[2022-10-20 09:59] Diizzayy commented on #158
Closing for the moment, as this was resolved in an earlier release.

[2022-10-20 10:00] #158 closed

[2022-10-20 18:42] DenFin commented on #210
@Diizzayy No worries, and thanks for your reply!

We solved the issue by going back to use the client with the auto-generated functions and passing in custom fetch keys. Maybe I can set up a minimal reproduction of the issue. For now, it works.

Thanks again for your reply!

[2022-10-21 10:47] cur1ou5soul opened #233 "credentials:include wont work as expected"
In our projects, we have multiple clients talking to Apollo as a middleware. We need to send our cookies to apollo-server so that the Session Relevant data can be fetched via apollo.

If I set credentials:include and also all CORS headers on server-side no Cookies are sent to our server from the browser.

Hopefully someone can help me with this.

regards,

[2022-10-21 11:23] Diizzayy commented on #233
@cur1ou5soul You should be able to call `useGqlCors` in a plugin to configure how credentials are handled across all clients

`/nuxt-app/plugins/cors.ts`
[code]

[2022-10-21 11:55] jojco opened #234 "Subscription and missing generated types."
First question -  It's possible to use Graphql Subscriptions?

Second - I cannot generate types from our graphql api server. After 'yarn dev' I don't get any error or warning (looks like generator recived schema), but in .nuxt/... I don't find any gerated files. (on api  https://api.spacex.land/graphql/ everything works fine)

Could be a problem with our schema which included graphql subscription

[2022-10-21 11:57] cur1ou5soul commented on #233
Just tried actually this doesent work. How can I prove that the setting is enabled?

[2022-10-21 12:16] Diizzayy commented on #233
I've just tested it locally against our API and the requests do in-fact respect the credentials options.

One thing to note is that `useGqlCors` accepts an optional `client` param to indicate which client to interface with, when omitted it falls back to the default client.

quick 'dirty' way to check the gql client state is:

[code]

[2022-10-21 12:22] cur1ou5soul commented on #233
First of all you are awesome 🙏

Well it says it's on Include but in my local environment where I have to use unsigned certificates my cookies aren't passed through. Can this be a reason for cookies not being sent?

[2022-10-21 12:50] Diizzayy commented on #234
Not currently, though it's planned for a near release.

This is strange given that there are no errors, a `gql` directory should be generated within `.nuxt`.

Would you be able to provide a minimal reproduce or grant me access to your api for me to have a closer look?

[2022-10-22 12:26] daniluk4000 opened #236 "Missing build import files"
In DEV env, all types I need are located in #build/gql/default:
![изображение](https://user-images.githubusercontent.com/10450717/197338891-9949bed3-674d-47ca-8b82-7d571b0d1585.png)

But on build this file is not present here:
![изображение](https://user-images.githubusercontent.com/10450717/197338909-bb2b8d77-0164-4d92-8b3a-164d8e007223.png)

Which leads to error like  'Role' is not exported by v

[2022-10-22 12:50] Diizzayy commented on #236
@daniluk4000 Thank you for raising this issue, recent releases introduced a few performance enhancements, one which disables code generation during the build phase. `v0.2.6` is on the way and fixes this by putting this behavior being a flag that can be manually enabled.

[2022-10-22 12:51] daniluk4000 commented on #236
@Diizzayy thank you!

[2022-10-22 13:07] Diizzayy commented on #236
@daniluk4000 `v0.2.6` was just released.

[2022-10-22 13:07] #236 closed

[2022-10-22 13:10] daniluk4000 commented on #236
That was so fast. All working fine now. Thank you again.

[2022-10-22 13:11] Diizzayy commented on #233
@cur1ou5soul Closing for now as per our conversation on discord. Feel free to reach out to me for any additional assistance.

[2022-10-22 13:11] #233 closed

[2022-10-24 09:37] nikitin-dev commented on #216
That solved my issue.
@Diizzayy, thanks a lot! You're really awesome guy. Thanks for your productive work and quick replies!

[2022-10-24 09:50] Diizzayy commented on #216
@nikitin-dev Happy to help!

[2022-10-24 10:18] Diizzayy commented on #200
Closing for now as this was addressed by a previous release. Will reopen if needed.

[2022-10-24 10:18] #200 closed

[2022-11-03 07:48] ShreyAmbesh opened #242 "Unable to use the package"
I am getting an error
[code]
I guess it might be because of the recent update to the [graphql-code-generator](https://github.com/dotansimha/graphql-code-generator) more specifically because of [this PR](https://github.com/dotansimha/graphql-code-generator/pull/8525) where they have removed the `DetailedError`

[2022-11-03 14:51] Diizzayy commented on #242
@ShreyAmbesh @boboldehampsink Temporary fix:

Add the following to your `package.json` file to pin the pertinent dependencies.

#### For NPM

[code]

#### For Yarn / Pnpm

[code]

[2022-11-04 07:26] ShreyAmbesh commented on #242
@Diizzayy thanks for the temporary fix. I can confirm it works.

[2022-11-06 13:11] chris-visser opened #244 "Exposing the client in server routes"
Is there a way to expose the client in nitro / server routes? My proposal would be along the lines of:

[code]

[2022-11-06 13:18] Diizzayy commented on #244
@chris-visser This feature is currently being worked on, and would follow the same implementation as per [`Gql Functions`](https://nuxt-graphql-client.web.app/getting-started/gql-functions)

hence usage would be as follows:

[code]

[2022-11-06 16:23] chris-visser commented on #244
Ahh nice! Really appreciate your work on this library and the timely response. Keep up the great work. Wish more gql clients would have a similar approach

[2022-11-07 12:22] ShreyAmbesh opened #246 "Cookies not being sent to server"
I am facing an issue where the cookies are not being sent from browser to server. It only happens when call is made from the browser for example if there is a graphql call in the setup function then all the cookies are sent. As it's setup function so t's rendered from the server due to the SSR but if I make the same graphql call on a button click then the cookies are not being sent.
I have already

[2022-11-07 12:35] Diizzayy commented on #246
The issue here is likely with the browser or perhaps even the server's configuration, I'd need a bit more information to better understand what you're facing here and help you in resolving it.

Would you be able to reach out to me on discord ( @ Diizzayy#1964 ) so I can have a closer look?

[2022-11-07 14:37] Diizzayy commented on #246
@ShreyAmbesh Closing as per our conversation on discord.

[2022-11-07 14:37] #246 closed

[2022-11-11 14:27] iBobik commented on #80
Btw, I have this issue on a local dev server, productions is statically generated and seems working well if I query data only in setup.

[2022-11-11 14:30] Diizzayy commented on #80
@iBobik Have you attempted enabling the `retainToken` flag?

[2022-11-13 00:36] iBobik commented on #80
@Diizzayy I does not want to expose this token to the frontend, I want to enforce SSR for this calls.

[2022-11-13 01:42] talaxasy commented on #242
@Diizzayy's method No. 1 doesn't work for me, and the second didn't try

[2022-11-13 09:18] daniluk4000 commented on #242
@talaxasy Second works like a charm

[2022-11-14 23:58] stephiescastle opened #248 "Querying for nested field with same name is breaking code generation"
### Environment

------------------------------
- Operating System: `Darwin`
- Node Version:     `v16.17.0`
- Nuxt Version:     `3.0.0-rc.9`
- Nitro Version:    `0.5.4`
- Package Manager:  `npm@8.15.0`
- Builder:          `vite`
- User Config:      `telemetry`, `css`, `typescript`, `components`, `modules`, `postcss`, `vite`, `colorMode`, `hooks`, `runtimeConfig`
- Runtime Modules:  `nuxt-graphql-c

[2022-11-15 01:32] ourvisualbrain commented on #118
@Diizzayy -

are you saying that this will not work if your graphql api is being served by the nuxt app itself?

i too am seeing the error:

is the solution to save my introspection to json, then reference that?

in my nuxt.config.ts, if i add the following:
[code]
then it will run, however, in my setup function
[code]

i have to use the _rawValue to get to my actual data - is this the effect of n

[2022-11-15 02:06] #248 closed

[2022-11-15 12:51] Dermatit commented on #246
@Diizzayy Hi, I have exactly the same issue. What was the solution for this issue due to your discord conversation?

[2022-11-15 14:35] Dermatit opened #249 "useGqlToken doesn't set HttpOnly cookie from the browser"
I am currently new to Nuxt and Nuxt-graphql-client. I need to set HttpOnly cookie after user login.
But when I do it with useGqlToken(), cookie doesn't appear in cookies.
In Nuxt middleware everything is ok. When I remove HttpOnly from nuxt.config.js everything is ok. Maybe I dont have to use useGqlToken() for this? I have no idea how to set HttpOnly cookie from browser.

[code]

[2022-11-15 18:59] Dermatit commented on #249
httpOnly cookies can't be set (nor accessed) via browsers, the standard approach is often to set the httpOnly cookie server-side along with the login response

[2022-11-15 18:59] #249 closed

[2022-11-16 09:28] boboldehampsink opened #250 "Import fails with Nuxt 3 RC.14"
### Environment

- Operating System: `Darwin`
- Node Version:     `v18.12.1`
- Nuxt Version:     `3.0.0-rc.14`
- Nitro Version:    `1.0.0`
- Package Manager:  `yarn@1.22.19`
- Builder:          `vite`
- User Config:      `srcDir`, `vite`, `alias`, `build`, `modules`, `i18n`, `tailwindcss`, `graphql-client`, `runtimeConfig`, `app`
- Runtime Modules:  `@nuxtjs/i18n@8.0.0-beta.3-27790843.ad45be6`, `@

[2022-11-16 10:53] iam-robi opened #251 "The requested module '@graphql-codegen/plugin-helpers' does not provide an export named 'DetailedError'"
### Environment

- Operating System: `Darwin`
- Node Version:     `v18.6.0`
- Nuxt Version:     `3.0.0-rc.14`
- Nitro Version:    `1.0.0`
- Package Manager:  `yarn@1.22.19`
- Builder:          `vite`
- User Config:      `vite`, `modules`, `runtimeConfig`, `typescript`, `build`
- Runtime Modules:  `nuxt-graphql-client@0.2.10`, `@vueuse/nuxt@9.5.0`, `@pinia/nuxt@0.4.3`
- Build Modules:    `-`

### D

[2022-11-16 10:55] #251 closed

[2022-11-16 17:41] stlbucket commented on #242
https://github.com/npm/cli/issues/5850

just dropping this issue here - i was able to get the DefaultError problem fixed, then it broke again when i re-installed.

even with overrides, npm install is giving me the 2.7.1 version for @graphql-codegen/plugin-helpers.  the others are ok, though...

maddening

[2022-11-16 17:49] Diizzayy commented on #242
@stlbucket Indeed, this is quite an annoying bug caused by important upstream dependencies that we haven't been able to get around. As a temporary workaround I might resort to publishing a patched version of the dep to be used solely by this nuxt module that averts this issue.

[2022-11-16 19:20] Diizzayy commented on #242
@stlbucket release is on the way!

[2022-11-16 19:21] Diizzayy commented on #242
@talaxasy release is on the way!

[2022-11-16 20:01] pzpsofficial opened #253 "Cannot find name 'useAsyncGql'.ts in stable release"
### Environment

------------------------------
- Operating System: `Darwin`
- Node Version:     `v14.18.3`
- Nuxt Version:     `3.0.0-rc.14`
- Nitro Version:    `1.0.0`
- Package Manager:  `npm@9.1.1`
- Builder:          `vite`
- User Config:      `vite`, `modules`, `runtimeConfig`, `build`, `app`
- Runtime Modules:  `nuxt-graphql-client@0.2.10`
- Build Modules:    `-`
---------------------------

[2022-11-16 20:09] Diizzayy commented on #253
@pzpsofficial try running `npx nuxi clean` and deleting your lockfile (package-lock.json) then re-installing the dependencies.

[2022-11-16 20:18] pzpsofficial commented on #253
@Diizzayy Thanks! It worked like a charm, but now I am getting another error: `Unexpected token '??='` - but I guess that it's something related to Nuxt itself, what do you think?

[2022-11-16 20:20] Diizzayy commented on #253
@pzpsofficial the `??` operator is used across nuxt and was introduced in `node v15^`, you'll have to update from version `v14.18.3`

[2022-11-16 20:23] pzpsofficial commented on #253
@Diizzayy Oooh, so that's what makes a great developer great :D Thank you so much, it's working like a charm. Thanks again, and all best!

[2022-11-16 20:24] Diizzayy commented on #250
@boboldehampsink This should be resolved by running `npx nuxi clean`, deleting your lockfile (`yarn.lock` or `package-lock.json`) then re-installing the dependencies.

[2022-11-16 20:24] Diizzayy commented on #253
@pzpsofficial Happy to help!

[2022-11-16 20:24] #253 closed

[2022-11-16 20:45] Diizzayy commented on #218
Track this issue in #242

[2022-11-16 20:45] #218 closed

[2022-11-16 20:48] gkkirilov commented on #250
Hey @Diizzayy, thanks for the fast update, but getting another error now
<img width="1141" alt="image" src="https://user-images.githubusercontent.com/8720012/202290800-02503fdb-c4a7-4e7e-8f18-dfae0f3fffee.png">

[2022-11-16 20:54] Diizzayy commented on #250
@gkkirilov the The nullish coalescing assignment operator (`??=`) was introduced in `node v15`, it's being used in this module, hence the error if you're using an older version of node.

[2022-11-16 20:58] stuible commented on #242
I had to blow away my package-lock.json but this update installs and runs smoothly without the need for overrides.  Thanks so much for your work on this package!

[2022-11-16 20:59] Diizzayy commented on #242
@stuible Okay perfect! I'm happy to hear it's working properly for you.

[2022-11-16 22:28] daniluk4000 opened #254 "Missing server build import files: Cannot find module '#gql/default' or its corresponding type declarations"
### Environment

- Operating System: `Linux`
- Node Version:     `v16.18.1`
- Nuxt Version:     `3.0.0`
- Nitro Version:    `1.0.0`
- Package Manager:  `yarn@1.22.19`
- Builder:          `vite`
- User Config:      `alias`, `experimental`, `build`, `app`, `sourcemap`, `dir`, `typescript`, `modules`, `vite`, `runtimeConfig`
- Runtime Modules:  `()`, `@pinia/nuxt@0.4.3`, `nuxt-graphql-client@0.2.12`,

[2022-11-16 22:30] daniluk4000 commented on #254
It couldn't be any related to mine #236 right?

[2022-11-17 00:02] stlbucket commented on #242
@Diizzayy - i will be trying this soon - fyi i had been on rc13, then woke up this morning so have rebuilt on 3.0

nuxt-graphql-client is showing as 0.2.12 in my package.json - above you said 0.2.11?

my next step will be incorporating pinia, which is where i actually encountered the problem previously

[2022-11-17 00:06] stlbucket commented on #242
https://github.com/vuejs/pinia/issues/853

pinia requires --legacy-peer-deps

due to the same bug, i believe?

[2022-11-17 00:09] Diizzayy commented on #242
@stlbucket Pinia should work fine alongside this module, Let me know what if any issue your run into and I'll have a look into it

[2022-11-17 00:15] stlbucket commented on #242
@Diizzayy - seems to have worked for now

[2022-11-17 07:00] boboldehampsink commented on #250
Updated package and to nuxt stable and now issue is gone

[2022-11-17 07:00] #250 closed

[2022-11-17 13:33] talaxasy commented on #242
yeah, works

[2022-11-17 19:04] Diizzayy opened #255 "Client configuration preset"
Add client presets for popular GraphQL APIs such prismic, shopify, directus, supabase, storyblok, strapi, sanity, etc...

[2022-11-21 00:15] Diizzayy commented on #191
Documentation has been updated to reflect [`Gql Functions`](http://localhost:3000/getting-started/gql-functions).

[2022-11-21 00:15] #191 closed

[2022-11-21 00:29] Diizzayy commented on #234
Closing for now, will reopen if needed.

[2022-11-21 00:29] #234 closed

[2022-11-21 00:37] #204 closed

[2022-11-22 19:10] Diizzayy commented on #254
@daniluk4000 Apologies for the late reply here, I've attempted to recreate this locally to no avail. Would you be willing to create a basic reproduction of this issue or give me access to the private repo for this project? I'd like to have a closer look to pinpoint the cause here

[2022-11-22 21:10] daniluk4000 commented on #254
@Diizzayy I've taken a deep look at this.

Locally, tsconfig entry in paths is

[code]

But in production it's just

[code]

I believe that's the reason.

https://github.com/Diizzayy/nuxt-graphql-client/blob/main/src/module.ts#L220

That helped me to create a workaround for myself

[code]

And now it's working!

P.S. Reading your code was a pleasure, the job you've done is incredible.

[2022-11-22 21:59] Diizzayy commented on #254
@daniluk4000 Perfect! Though It's strange that the sub alias for `#gql` isn't added in the production build, I may have to add it explicitly to prevent others from encountering this.

Thank You! Happy to see that you've been enjoying this module. Much more great features are on the way.

[2022-11-22 22:02] daniluk4000 commented on #254
I believe it's some Nuxt thing. I'm still struggling with this nuxt instance unavailable, hope it will be resolved by somebody in vue/nuxt team some other day.

Honestly it's my first time writting GraphQL. As TypeScript lover I'm so glad I found this module.

*waiting.gif*

[2022-11-22 22:26] Diizzayy commented on #254
@daniluk4000  The nuxt context is lost after the first await call, hence any calls to any Nuxt 3 composable (ie: useState) or calls to any function that is depending upon the nuxt context will result in the nuxt instance unavailable error, Note that composables aren't meant to house multiple await calls in that manner, especially if a Nuxt composable is called anywhere after an await ( hence the n

[2022-11-22 22:30] daniluk4000 commented on #254
@Diizzayy I've lost context even in plugins/middlewares/asyncData (not setup).

I've tried to migrate my Nuxt 2 project to Nuxt Bridge (not Nuxt 3) and this was a huge breaking change for me. Initially I thought this is only Suspense/setup limitation but it happens everywhere nuxt context is used. I really do hope Vue team will resolve this some day (Vue 3.3 e.t.c.)

[2022-11-22 22:42] Diizzayy commented on #254
@daniluk4000 The setup function is designed specially to avoid the context being lost.

Feel free to reach out to me on discord (Diizzayy#1964), I'd be happy to help you work around the context issues you're facing.

[2022-11-23 18:10] iam-robi opened #261 "can not use cookies in query"
### Environment

- Operating System: `Darwin`
- Node Version:     `v18.6.0`
- Nuxt Version:     `3.0.0`
- Nitro Version:    `1.0.0`
- Package Manager:  `yarn@1.22.19`
- Builder:          `vite`
- User Config:      `vite`, `dev`, `modules`, `inkline`, `runtimeConfig`, `typescript`, `build`, `css`, `graphql-client`
- Runtime Modules:  `@inkline/nuxt@3.1.4`, `@vueuse/nuxt@9.5.0`, `nuxt-graphql-client

[2022-11-23 18:31] Diizzayy commented on #261
@iam-robi The `proxyCookies` flag is used to extract cookies from the client to be passed along to the GraphQL API during SSR.

As it pertains to client side requests, I suspect that what's preventing the cookies from being sent is the cors rules.

Try calling `useGqlCors({ credentials: 'include' })` before making the gql request

[2022-11-23 22:41] iam-robi commented on #261
Thanks a lot , this solved the issue  !!

[2022-11-23 23:05] Diizzayy commented on #261
@iam-robi Happy to help!

Also I suggest calling `useGqlCors` in a plugin to have it applied across the entire app.

`/nuxt-app/plugins/cors.client.ts`
[code]

[2022-11-24 15:41] #261 closed

[2022-11-25 17:10] #213 closed

[2022-11-25 17:14] Diizzayy commented on #114
Closing as the suspected underlying issue here has been addressed in a prior release.

[2022-11-25 17:14] #114 closed

[2022-11-25 17:38] Diizzayy commented on #161
@MrTeapot @TheDutchCoder The desired behavior here can be achieved by passing the `immediate: false` flag option, doing so would delay the request until either `refresh` or `execute` is manually called.

[code]

[2022-11-25 17:38] #161 closed

[2022-11-25 17:52] Diizzayy commented on #12
This functionality has been possible for quite some time now via the [`useGqlError` utility](https://nuxt-graphql-client.web.app/getting-started/composables#usegqlerror)

`/nuxt-app/plugins/gql-error.ts`
[code]

[2022-11-25 17:52] #12 closed

[2022-11-25 19:37] #120 closed

[2022-11-30 16:50] #180 closed

[2022-11-30 16:55] Diizzayy commented on #242
Closing, this was recently resolved upstream as per dotansimha/graphql-code-generator#8590

[2022-11-30 16:55] #242 closed